src/main/mule/aggregators/aggregator-platform-metrics.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="aggregator-platform-metrics-master-flow" doc:id="b44a5537-b4b2-48d6-be10-5966f49ef8dc">
		<ee:transform doc:name="Set Date and Error Variables" doc:id="26ecdac1-0e42-4650-b40a-48522207d021">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="dw/aggregation/set-date-var.dwl" variableName="date" />
				<ee:set-variable resource="dw/aggregation/set-errors-var.dwl" variableName="errors" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Get Token Flow Reference" doc:id="675f99f2-d682-4162-9702-5da306885ba1" name="api-call-coreservices-login-flow" target="token"
			targetValue="payload.access_token" />
		<flow-ref doc:name="CoreServices - Get Organizations" doc:id="1f5906b9-2afa-4fc3-98e3-b11f8320e06f" name="api-call-coreservices-organizations-flow" />
		<ee:transform doc:name="Build Organizations including master org" doc:id="75e24a85-7cf4-4d19-9d58-d2b677f89993">
			<ee:message>
				<ee:set-payload resource="dw/aggregation/build-orgs-aggregation.dwl" />
			</ee:message>
		</ee:transform>
		<parallel-foreach doc:name="For Each" doc:id="59a2752c-19ce-4e8c-b3cf-512c04000a55" collection="#[payload]">
			<ee:transform doc:name="Set Org Id, Name and Entitlements Vars" doc:id="4faaf6c1-178a-447c-b375-a1d81a682d31">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable resource="dw/aggregation/set-org-id-var.dwl" variableName="orgId" />
					<ee:set-variable resource="dw/aggregation/set-org-name-var.dwl" variableName="orgName" />
					<ee:set-variable resource="dw/aggregation/set-entitlements-var.dwl" variableName="entitlements" />
				</ee:variables>
			</ee:transform>
			<logger level="INFO" doc:name="Log - Aggregate metrics" doc:id="19862db5-f751-47a1-b5f3-ffd75708938e" message="Aggregating metrics from the OrgId: #[vars.orgId]" />
			<flow-ref doc:name="Aggregator Organization Flow Reference" doc:id="97a715ab-2afc-47ee-9969-65d0c170cb4f" name="aggregator-platform-metrics-org-flow" />
		</parallel-foreach>
		<set-payload value="#[output application/json --- payload.payload]" doc:name="Set Final Payload" doc:id="4de1289b-f761-496c-b966-670bce6484ac" />
	</flow>

	<flow name="aggregator-platform-metrics-org-flow" doc:id="f52652d1-3952-4ab0-9d4b-20c69530e30a">
		<try doc:name="Try" doc:id="f8f78884-8266-4dc7-bf74-dd37bd8dab8b">
			<flow-ref doc:name="CoreServices - Get Environments" doc:id="a65ee492-ea7b-4018-9096-08aff5fa21d4" name="api-call-coreservices-environments-flow" target="environments" targetValue='#[payload.data filter ($."type" != "design")]' />
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="79728178-b45e-42a4-ae95-4b3b4272d759">
					<logger level="INFO" doc:name="Logger" doc:id="82d2d1ef-4e3c-4b25-9a09-27312f8350fc" message="Getting environments failed" />
					<set-variable value="#[vars.errors + error.description]" doc:name="Set Variable" doc:id="fbe03c01-d12f-4e5d-8f94-35c2d1fe98fe" variableName="errors" />
				</on-error-continue>
			</error-handler>
		</try>
		<choice doc:name="If there are environments" doc:id="5eae9f6d-f0a4-489e-92ab-3aa8f2b5502b">
			<when expression="#[not isEmpty(vars.environments)]">
				<scatter-gather doc:name="Scatter-Gather" doc:id="f91aa95c-1b72-4596-bb78-c2d26978d2c7">
					<route>
						<choice doc:name="If collectors contains ch" doc:id="6c736205-a79f-4791-b78e-e64cac2ffd2d">
							<when expression='#[vars.collectors as Array contains "ch"]'>
								<flow-ref doc:name="Get CloudHub Apps Metrics " doc:id="b8f7e5c7-f5ed-4ef0-9ae2-eee199b1ebf2" name="collector-cloudhub-apps-metrics-parallel-flow" />
							</when>
							<otherwise>
								<logger level="INFO" doc:name="Log - No CH" doc:id="3f084600-b105-4997-a7c9-ce60a882b16d" message="CloudHub Metrics won't be collected: collector not enabled or not supported for the platform deployment model or authentication mode." />
								<ee:transform doc:name="Set Null Response" doc:id="836b8124-f2b7-4532-abb1-6148fb1eb85b">
									<ee:message>
										<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
									</ee:message>
								</ee:transform>
							</otherwise>
						</choice>
					</route>
					<route>
						<choice doc:name="If collectors contains ex" doc:id="c2affb6c-a28e-467e-bd9d-f11ce386b45f">
							<when expression='#[vars.collectors as Array contains "ex"]'>
								<flow-ref doc:name="Get Exchange Assets" doc:id="9983e278-1c7d-4b63-84ac-8c148bdb2711" name="collector-exchange-metrics-flow" />
							</when>
							<otherwise>
								<logger level="INFO" doc:name="Log - No exchange" doc:id="ecaa93ea-d2e8-4c80-81b1-f021d286623a" message="Exchange Metrics won't be collected: collector not enabled or not supported for the platform deployment model or authentication mode." />
								<ee:transform doc:name="Set Null Response" doc:id="2f4f82aa-065d-4cfa-811f-ce523fe28c65">
									<ee:message>
										<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
									</ee:message>
								</ee:transform>
							</otherwise>
						</choice>
					</route>
					<route>
						<choice doc:name="If collectors contains apm" doc:id="6e9676bf-b83f-4264-8917-58988d6dcbb5">
							<when expression='#[vars.collectors as Array contains "apm"]'>
								<flow-ref doc:name="Get API Manager Grouped Metrics" doc:id="7d3f4740-47e1-4ad5-b87e-1c5869903a28" name="aggregator-platform-metrics-api-manager-flow" />
							</when>
							<otherwise>
								<logger level="INFO" doc:name="Log - No apim" doc:id="5fd82505-f624-402c-8867-bb038048e5a5"
									message="API Manager Metrics won't be collected: collector not enabled or not supported for the platform deployment model or authentication mode." />
								<ee:transform doc:name="Set Null Response" doc:id="0f0e9f55-2eee-488b-8787-75e44d3e5804">
									<ee:message>
										<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
									</ee:message>
								</ee:transform>
							</otherwise>
						</choice>
					</route>
					<route>
						<choice doc:name="If collectors contain core" doc:id="41d460bc-09c8-4045-bb73-de630301d5a4">
							<when expression='#[vars.collectors as Array contains "core"]'>
								<flow-ref doc:name="Get Coreservices Members" doc:id="0d270a25-f417-43ce-8729-7eec33548360" name="aggregator-platform-metrics-coreservices-flow" />
							</when>
							<otherwise>
								<logger level="INFO" doc:name="Log - No core services" doc:id="dea0a312-f4f8-403a-bd7e-7e5916c035a9" message="Core Services Metrics won't be collected: collector not enabled or not supported for the platform deployment model or authentication mode." />
								<ee:transform doc:name="Set Null Response" doc:id="93ad5189-4434-4916-ad86-f31817b8b3f3">
									<ee:message>
										<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
									</ee:message>
								</ee:transform>
							</otherwise>
						</choice>
					</route>
					<route>
						<choice doc:name="If collectors contains dc" doc:id="90dd01a9-cfd6-4fbe-b03b-32e4d26b6331">
							<when expression='#[vars.collectors as Array contains "dc"]'>
								<flow-ref doc:name="Get Design Center Projects" doc:id="f0ddec9e-176f-4f39-af14-728444fce2d2" name="collector-design-center-metrics-flow" />
							</when>
							<otherwise>
								<logger level="INFO" doc:name="Log - No DC" doc:id="a91ccede-f24f-4394-aca9-5cf94b9740cd" message="Design Center Metrics won't be collected: collector not enabled or not supported for the platform deployment model or authentication mode." />
								<ee:transform doc:name="Set Null Response" doc:id="df6be0bd-2ff4-402d-9f37-174765cfc834">
									<ee:message>
										<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
									</ee:message>
								</ee:transform>
							</otherwise>
						</choice>
					</route>
					<route>
						<choice doc:name="If collectors contains arm" doc:id="90201985-eda8-4fd6-ad59-25f72622fb48">
							<when expression='#[vars.collectors as Array contains "arm"]'>
								<flow-ref doc:name="Get ARM Metrics " doc:id="27879996-a1c7-4ab0-9b2d-8c4f60d1e6a3" name="aggregator-platform-metrics-arm-flow" />
							</when>
							<otherwise>
								<logger level="INFO" doc:name="Log - No arm" doc:id="9c72e831-0873-4787-9ce2-b021799b246c" message="Anypoint Runtime Metrics won't be collected: collector not enabled or not supported for the platform deployment model or authentication mode." />
								<ee:transform doc:name="Set Null Response" doc:id="d2b3b3df-d581-43cf-90c3-5cf6531a0fc2">
									<ee:message>
										<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
									</ee:message>
								</ee:transform>
							</otherwise>
						</choice>
					</route>
					<route>
						<choice doc:name="If collectors contains rtf" doc:id="764297d0-c282-4943-8cfb-6b2ae0cae9f0">
							<when expression='#[vars.collectors as Array contains "rtf"]'>
								<flow-ref doc:name="Get RTF Fabrics Metrics" doc:id="51eaeb21-1453-4654-baa2-a721f989c244" name="collector-rtf-fabrics-metrics-flow" />
							</when>
							<otherwise>
								<logger level="INFO" doc:name="Log - No rtf" doc:id="5cdd8955-390d-4e52-9ca5-78bbdb63b40f" message="Runtime Fabric Metrics won't be collected: collector not enabled or not supported for the platform deployment model or authentication mode." />
								<ee:transform doc:name="Set Null Response" doc:id="0d414482-199c-40e1-92ab-a99232cab864">
									<ee:message>
										<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
									</ee:message>
								</ee:transform>
							</otherwise>
						</choice>
					</route>
					<route>
						<choice doc:name="If collectors contains apma" doc:id="95a8db4a-7755-4f78-a0eb-ed0a783e5eef">
							<when expression='#[vars.collectors as Array contains "apma"]'>
								<flow-ref doc:name="Get Analytics Enriched Data " doc:id="2908db4d-cc5b-421b-a844-2272898b0b73" name="collector-analytics-metrics-parallel-flow" />
							</when>
							<otherwise>
								<logger level="INFO" doc:name="Log - No analytics" doc:id="691026dc-a61d-40d6-9b35-a472eb5e6f19" message="Analytics Metrics won't be collected: collector not enabled or not supported for the platform deployment model or authentication mode." />
								<ee:transform doc:name="Set Null Response" doc:id="6926d83f-33f0-40ce-ac1f-39a2d781ce90">
									<ee:message>
										<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
									</ee:message>
								</ee:transform>
							</otherwise>
						</choice>
					</route>
					<route>
						<choice doc:name="If collectors contains amq" doc:id="38b6f80f-6f6b-4437-9f4d-b1b3c5329b46">
							<when expression='#[vars.collectors as Array contains "amq"]'>
								<flow-ref doc:name="Get MQ Metrics" doc:id="0b7b5322-2c65-4ee2-ac62-84bcdd19aef3" name="collector-mq-metrics-parallel-flow" />
							</when>
							<otherwise>
								<logger level="INFO" doc:name="Log - No amq" doc:id="8dddd0f5-1dbf-4905-bf68-664c4dc5c87e" message="Anypoint MQ Metrics won't be collected: collector not enabled or not supported for the platform deployment model or authentication mode." />
								<ee:transform doc:name="Set Null Response" doc:id="417ec330-6d7f-4bfa-ad9b-00870879c51a">
									<ee:message>
										<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
									</ee:message>
								</ee:transform>
							</otherwise>
						</choice>
					</route>
					<route>
						<choice doc:name="If collectors contains OSv2" doc:id="088c6587-0c35-49e8-abd2-ca81958c4222">
							<when expression='#[vars.collectors as Array contains "osv2"]'>
								<flow-ref doc:name="Get OSv2 Metrics" doc:id="e2b27342-7e6f-46c8-bd35-41464b3130b7" name="collector-osv2-metrics-parallel-flow" />
							</when>
							<otherwise>
								<logger level="INFO" doc:name="Log - No OSv2" doc:id="d8f6289f-0136-4804-94bb-17f21f829bf8" message="OSv2 Metrics won't be collected: collector not enabled or not supported for the platform deployment model or authentication mode." />
								<ee:transform doc:name="Set Null Response" doc:id="8039cd3b-cc2b-4450-98b1-20edba578404">
									<ee:message>
										<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
									</ee:message>
								</ee:transform>
							</otherwise>
						</choice>
					</route>
				</scatter-gather>
				<choice doc:name="If rawData is needed" doc:id="a97772ac-5115-4717-ab5e-333822e3841b">
					<when expression="#[vars.rawData]">
						<ee:transform doc:name="Build Raw Data Response" doc:id="c571107e-cd3c-4e87-83fe-c9d44cf35596">
							<ee:message>
								<ee:set-payload resource="dw/aggregation/build-platform-raw-data-response.dwl" />
							</ee:message>
						</ee:transform>
					</when>
					<otherwise>
						<ee:transform doc:name="Build Metrics Aggregated Response" doc:id="aa83f239-119d-46f3-9538-bd06b4c84ef1">
							<ee:message>
								<ee:set-payload resource="dw/aggregation/build-platform-metrics-aggregation.dwl" />
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
				<logger level="INFO" doc:name="Logger" doc:id="d32c2c3a-1466-43b6-bee0-a8cefa80287e" message="Metrics aggregated successfully" />
			</when>
			<otherwise>
				<logger level="ERROR" doc:name="Log - Environments is empty" doc:id="2f00c08f-d530-4bbc-926c-3ee37beab7df" message="Environments empty, skipping following calls" />
				<ee:transform doc:name="Build empty Event" doc:id="03dc7dda-2222-458a-907c-cb4f736e102b">
					<ee:message>
						<ee:set-payload resource="dw/aggregation/build-platform-metrics-empty-aggregation.dwl" />
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>

	<flow name="aggregator-platform-metrics-api-manager-flow" doc:id="fbab39e1-734b-4b08-b0bd-6ebe7f240094">
		<scatter-gather doc:name="Scatter-Gather" doc:id="a282e27e-5d6c-45e8-a2a6-586673fcb6db">
			<route>
				<flow-ref doc:name="Get API Manager Metrics" doc:id="c8933d1a-9a80-4007-a320-7adb5a4dbddd" name="collector-apim-parallel-flow" />
			</route>
			<route>
				<choice doc:name="If collectors contains apc" doc:id="818aecc9-5135-4c2c-bbd2-c167efe4bf11">
					<when expression='#[vars.collectors as Array contains "apc"]'>
						<flow-ref doc:name="Get API Clients" doc:id="cbd1d44a-089c-4146-8a19-b93341e057e8" name="collector-api-clients-metrics-flow" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Log - No api clients" doc:id="da4e9a3c-bbd2-4184-ae81-8fa6021a26a3" message="API Client Metrics won't be collected: collector not enabled or not supported for the platform deployment model or authentication mode." />
						<ee:transform doc:name="Set Null Response" doc:id="51ee5c0c-fb2a-409c-94ef-e7fc8113b2b1">
							<ee:message>
								<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</route>
			<route>
				<choice doc:name="If collectors contains ap" doc:id="56416826-505e-4a9a-b515-088612cbd107">
					<when expression='#[vars.collectors as Array contains "ap"]'>
						<flow-ref doc:name="Get Automated Policies" doc:id="c86a35bd-2ecc-45f8-9aaa-3ff96dd43c7f" name="collector-apim-automated-policies-metrics-flow" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Log - No policies" doc:id="9aca8bd6-43fb-4106-af17-5f82c47a35aa" message="Automated Policies Metrics won't be collected: collector not enabled or not supported for the platform deployment model or authentication mode." />
						<ee:transform doc:name="Set Null Response" doc:id="6dabf354-2fb5-4c69-9894-04b06f7ca408">
							<ee:message>
								<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</route>
		</scatter-gather>
	</flow>
	<flow name="aggregator-platform-metrics-arm-flow" doc:id="2eed9166-ad29-43c6-b1a3-5a971150a931">
		<scatter-gather doc:name="Scatter-Gather" doc:id="1e8dbc13-cf0f-411f-ba21-640d93869819">
			<route>
				<flow-ref doc:name="ARM Deployments Metrics Flow Reference" doc:id="38163abb-40d5-4417-a624-2dbc399d1a9b" name="collector-arm-deployments-metrics-parallel-flow" />
			</route>
			<route>
				<flow-ref doc:name="ARM Server Metrics Flow Reference" doc:id="213800fb-e2b6-4fdd-b3b3-1370219f543b" name="collector-arm-servers-metrics-parallel-flow" />
			</route>
			<route>
				<flow-ref doc:name="ARM Cluster Metrics Flow Reference" doc:id="f12ce243-799c-4ef0-97b2-fe19a71f3311" name="collector-arm-clusters-metrics-parallel-flow" />
			</route>
			<route>
				<flow-ref doc:name="ARM ServerGroups Metrics Flow Reference" doc:id="e6703e89-e973-4a9c-8844-51d1535cc1f7" name="collector-arm-server-groups-metrics-parallel-flow" />
			</route>
			<route>
				<choice doc:name="Choice" doc:id="22fab59d-e38c-42cf-95a5-ef5ac5b037ce">
					<when expression='#[Mule::p("anypoint.platform.apis.arm.apps.enabled") == "true"]'>
						<flow-ref doc:name="collector-arm-apps-metrics-parallel-flow" doc:id="7d054ece-8e5c-4541-a339-c17b06b34f05" name="collector-arm-apps-metrics-parallel-flow" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Logger" doc:id="75b6a914-b56b-40f3-867a-996303389769" message="ARM:Applications not enabled" />
					</otherwise>
				</choice>
			</route>
		</scatter-gather>
	</flow>

	<flow name="aggregator-platform-metrics-coreservices-flow" doc:id="bde4eda9-b9d9-4766-a35d-ea9406fabdb1">
		<scatter-gather doc:name="Scatter-Gather" doc:id="5d665955-1a16-4517-89e1-5b01aa144803">
			<route>
				<flow-ref doc:name="Coreservices Members Flow Reference" doc:id="37203d4e-f12a-4bda-be3e-0035c046af72" name="collector-members-metrics-flow" />
			</route>
			<route>
				<choice doc:name="Choice" doc:id="c17848cc-fcea-4870-af79-75c1f9ed8fe4">
					<when expression="#[vars.authMode != 'connected-app-credentials']">
						<flow-ref doc:name="Coreservices Usage Flow Reference" doc:id="01f684db-614f-416a-bd90-1f74a954b70d" name="collector-usage-metrics-flow" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Logger" doc:id="f12c10d3-016a-42c7-afe4-315e9d239491" message="Coreservices::Usage not supported when authentication mode is connected-app-credentials" />
					</otherwise>
				</choice>
			</route>
			<route>
				<choice doc:name="Choice" doc:id="e7e17024-2ea6-4e76-baa2-2f4ae8bc1c35">
					<when expression="#[Mule::p(&quot;anypoint.platform.apis.coreservices.rolegroups.enabled&quot;) == &quot;true&quot; and vars.authMode != 'connected-app-credentials']">
						<flow-ref doc:name="collector-rolegroups-metrics" doc:id="c446c3a8-f5c2-4d31-a6f6-0bf45f9825b4" name="collector-rolegroups-metrics" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Logger" doc:id="f92e6e11-460d-4964-909c-3b6a7d667676" message='#[if (Mule::p("anypoint.platform.apis.coreservices.rolegroups.enabled") != "true")
  "Coreservices::RoleGroups not enabled"
else
  "Coreservices::RoleGroups not supported when authentication mode is connected-app-credentials"]' />
					</otherwise>
				</choice>
			</route>
		</scatter-gather>
	</flow>

</mule>
