src/main/mule/aggregators/aggregator-platform-metrics.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="aggregator-platform-metrics-master-flow" doc:id="b44a5537-b4b2-48d6-be10-5966f49ef8dc">
		<ee:transform doc:name="Set Date and Error Variables" doc:id="26ecdac1-0e42-4650-b40a-48522207d021">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="dw/aggregation/set-date-var.dwl" variableName="date" />
				<ee:set-variable resource="dw/aggregation/set-errors-var.dwl" variableName="errors" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Get Token Flow Reference" doc:id="675f99f2-d682-4162-9702-5da306885ba1"
			name="api-call-coreservices-login-flow" target="token" targetValue="payload.access_token" />
		<flow-ref doc:name="CoreServices - Get Organizations" doc:id="1f5906b9-2afa-4fc3-98e3-b11f8320e06f"
			name="api-call-coreservices-organizations-flow" />
		<ee:transform doc:name="Build Organizations including master org" doc:id="75e24a85-7cf4-4d19-9d58-d2b677f89993">
			<ee:message>
				<ee:set-payload resource="dw/aggregation/build-orgs-aggregation.dwl" />
			</ee:message>
		</ee:transform>
		<parallel-foreach doc:name="For Each" doc:id="59a2752c-19ce-4e8c-b3cf-512c04000a55" collection="#[payload]">
			<ee:transform doc:name="Set Org Id, Name, isMaster and Entitlements Vars" doc:id="4faaf6c1-178a-447c-b375-a1d81a682d31">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable resource="dw/aggregation/set-org-id-var.dwl" variableName="orgId" />
					<ee:set-variable resource="dw/aggregation/set-org-name-var.dwl" variableName="orgName" />
					<ee:set-variable resource="dw/aggregation/set-entitlements-var.dwl" variableName="entitlements" />
					<ee:set-variable resource="dw/aggregation/set-is-master-var.dwl" variableName="isMaster" />
				</ee:variables>
			</ee:transform>
			<logger level="INFO" doc:name="Log - Aggregate metrics" doc:id="19862db5-f751-47a1-b5f3-ffd75708938e"
				message="Aggregating metrics from the OrgId: #[vars.orgId]" />
			<flow-ref doc:name="Aggregator Organization Flow Reference" doc:id="97a715ab-2afc-47ee-9969-65d0c170cb4f"
				name="aggregator-platform-metrics-org-flow" />
		</parallel-foreach>
		<set-payload value="#[output application/json --- payload.payload]" doc:name="Set Final Payload"
			doc:id="4de1289b-f761-496c-b966-670bce6484ac" />
	</flow>

	<flow name="aggregator-platform-metrics-org-flow" doc:id="f52652d1-3952-4ab0-9d4b-20c69530e30a">
		<try doc:name="Try" doc:id="f8f78884-8266-4dc7-bf74-dd37bd8dab8b">
			<flow-ref doc:name="CoreServices - Get Environments" doc:id="a65ee492-ea7b-4018-9096-08aff5fa21d4"
				name="api-call-coreservices-environments-flow" target="environments" targetValue='#[payload.data filter ($."type" != "design")]' />
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue"
					doc:id="79728178-b45e-42a4-ae95-4b3b4272d759">
					<logger level="INFO" doc:name="Logger" doc:id="82d2d1ef-4e3c-4b25-9a09-27312f8350fc" message="Getting environments failed" />
					<set-variable value="#[vars.errors + error.description]" doc:name="Set Variable"
						doc:id="fbe03c01-d12f-4e5d-8f94-35c2d1fe98fe" variableName="errors" />
				</on-error-continue>
			</error-handler>
		</try>
		<scatter-gather doc:name="Scatter-Gather" doc:id="9bee9d7e-6622-4fb9-909a-03652ed96f33">
			<route>
				<choice doc:name="If collectors contains ch" doc:id="91e628ba-98f1-4e43-91bb-406ccb3b0623">
					<when expression='#[not isEmpty(vars.environments) and (vars.collectors as Array contains "ch")]'>
						<flow-ref doc:name="Get CloudHub Apps Metrics " doc:id="32909e46-0b65-408d-8624-a64f1d4354a9"
							name="collector-cloudhub-apps-metrics-parallel-flow" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Log - No CH" doc:id="adedd890-8d11-4187-ab85-5012a161c92f"
							message="#[&quot;CloudHub Metrics won't be collected: &quot;
++ 
(
	if (isEmpty(vars.environments))
      &quot;BG doesn't have environments.&quot;
    else
      &quot;collector not enabled or not supported for the platform deployment model or authentication mode.&quot;
)]" />
						<ee:transform doc:name="Set Null Response" doc:id="78bfc1ac-7ada-453d-8969-d5c8b70b2b3b">
							<ee:message>
								<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</route>
			<route>
				<choice doc:name="If collectors contains ex" doc:id="d1019fbf-1c95-4229-8546-a74abd6381b9">
					<when expression='#[vars.collectors as Array contains "ex"]'>
						<flow-ref doc:name="Get Exchange Assets" doc:id="02aa413f-b8e3-40b3-876e-4b6c2241d876" name="collector-exchange-metrics-flow" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Log - No exchange" doc:id="593b89a3-67c2-44d0-8b83-ff81797abc78"
							message="Exchange Metrics won't be collected: collector not enabled or not supported for the platform deployment model or authentication mode." />
						<ee:transform doc:name="Set Null Response" doc:id="a6ac0e0a-5dcb-4c13-9771-ad355826a4f7">
							<ee:message>
								<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</route>
			<route>
				<choice doc:name="If collectors contains apm" doc:id="f0c85be3-08d8-4609-b267-dd3cb03536a4">
					<when expression='#[not isEmpty(vars.environments) and (vars.collectors as Array contains "apm")]'>
						<flow-ref doc:name="Get API Manager Metrics" doc:id="410e0443-3958-47dd-89b7-af7eca547ff5"
							name="collector-apim-parallel-flow" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Log - No apim" doc:id="91aaaebe-1a67-4a67-b91e-4258088943c3"
							message="#[&quot;API Manager Metrics won't be collected: &quot;
++ 
(
	if (isEmpty(vars.environments))
      &quot;BG doesn't have environments.&quot;
    else
      &quot;collector not enabled or not supported for the platform deployment model or authentication mode.&quot;
)]" />
						<ee:transform doc:name="Set Null Response" doc:id="6b3aec02-3fb8-4332-8897-c333b3d6b8a6">
							<ee:message>
								<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</route>
			<route>
				<choice doc:name="If collectors contain core" doc:id="34c44129-f152-49bb-8916-67f52ea7687d">
					<when expression='#[vars.collectors as Array contains "core"]'>
						<flow-ref doc:name="Get Coreservices Members" doc:id="7b53888a-b3ed-4cfa-bd62-ca38d069fc14"
							name="aggregator-platform-metrics-coreservices-flow" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Log - No core services" doc:id="50c5415c-fc6a-467d-b9d7-7bd70a7a5b28"
							message="Core Services Metrics won't be collected: collector not enabled or not supported for the platform deployment model or authentication mode." />
						<ee:transform doc:name="Set Null Response" doc:id="0b38c3b9-5a44-4942-b1c6-9afcbf248b53">
							<ee:message>
								<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</route>
			<route>
				<choice doc:name="If collectors contains dc" doc:id="e62e600d-4863-4667-918a-f170e4f62631">
					<when expression='#[vars.collectors as Array contains "dc"]'>
						<flow-ref doc:name="Get Design Center Projects" doc:id="0d3d8846-ad76-4e78-bb27-46b06379589f"
							name="collector-design-center-metrics-flow" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Log - No DC" doc:id="930c1cb2-eb03-49d9-abc6-14249fe930f9"
							message="Design Center Metrics won't be collected: collector not enabled or not supported for the platform deployment model or authentication mode." />
						<ee:transform doc:name="Set Null Response" doc:id="37508bc7-35fd-4b1e-b71c-0dddae6a99f6">
							<ee:message>
								<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</route>
			<route>
				<choice doc:name="If collectors contains apc" doc:id="7c627cf2-cf04-4904-a74a-85e278e425e0">
					<when expression='#[vars.collectors as Array contains "apc"]'>
						<flow-ref doc:name="Get API Clients" doc:id="f76cb1f2-cdab-4dc3-9355-7dc6074e6035" name="collector-api-clients-metrics-flow" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Log - No api clients" doc:id="37e96dfb-ba81-4380-896e-37a54cdcf7e2"
							message="API Client Metrics won't be collected: collector not enabled or not supported for the platform deployment model or authentication mode." />
						<ee:transform doc:name="Set Null Response" doc:id="0ab185d5-c3b7-4788-8ee0-73da1ef11adb">
							<ee:message>
								<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</route>
			<route>
				<choice doc:name="If collectors contains ap" doc:id="8c4a9c1b-6a89-40b9-a3ed-9b59cc8d139c">
					<when expression='#[not isEmpty(vars.environments) and (vars.collectors as Array contains "ap")]'>
						<flow-ref doc:name="Get Automated Policies" doc:id="58b1ffd8-79e0-42a1-a8de-30ae40efbdbb"
							name="collector-apim-automated-policies-metrics-flow" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Log - No policies" doc:id="1d174a32-eb70-47ec-be10-a094053e5f06"
							message="#[&quot;Automated Policies Metrics won't be collected: &quot;
++ 
(
	if (isEmpty(vars.environments))
      &quot;BG doesn't have environments.&quot;
    else
      &quot;collector not enabled or not supported for the platform deployment model or authentication mode.&quot;
)]" />
						<ee:transform doc:name="Set Null Response" doc:id="801540d2-63b6-498b-932b-053273afee21">
							<ee:message>
								<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</route>
			<route>
				<choice doc:name="If collectors contains arm" doc:id="7129b560-a4fc-4d61-a1d1-4556684b9bfd">
					<when expression='#[not isEmpty(vars.environments) and (vars.collectors as Array contains "arm")]'>
						<flow-ref doc:name="Get ARM Metrics " doc:id="e32ff401-6241-45e0-a7f1-01195354eba9"
							name="aggregator-platform-metrics-arm-flow" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Log - No arm" doc:id="e066408b-480c-45b2-86d5-a8ba32c90131"
							message="#[&quot;Anypoint Runtime Metrics won't be collected: &quot;
++ 
(
	if (isEmpty(vars.environments))
      &quot;BG doesn't have environments.&quot;
    else
      &quot;collector not enabled or not supported for the platform deployment model or authentication mode.&quot;
)]" />
						<ee:transform doc:name="Set Null Response" doc:id="9d5ccd01-2769-4361-a22d-b1d1f305776c">
							<ee:message>
								<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</route>
			<route>
				<choice doc:name="If collectors contains rtf" doc:id="d91f9020-4a1f-48b1-9e96-0e5508aad26c">
					<when expression='#[vars.collectors as Array contains "rtf"]'>
						<flow-ref doc:name="Get RTF Fabrics Metrics" doc:id="b4726c2e-1296-4995-98a5-fc358519c79a"
							name="collector-rtf-fabrics-metrics-flow" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Log - No rtf" doc:id="a8252a81-8865-475d-ba19-c5708bd75cb6"
							message="Runtime Fabric Metrics won't be collected: collector not enabled or not supported for the platform deployment model or authentication mode." />
						<ee:transform doc:name="Set Null Response" doc:id="a6e85d4b-1f78-47bf-acb0-e31bb9191480">
							<ee:message>
								<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</route>
			<route>
				<choice doc:name="If collectors contains apma" doc:id="362794d1-bf5b-4d27-a515-b2be9db8c936">
					<when expression='#[not isEmpty(vars.environments) and (vars.collectors as Array contains "apma")]'>
						<flow-ref doc:name="Get Analytics Enriched Data " doc:id="70bb2c4f-c3e9-44e9-99e2-e63143ced927"
							name="collector-analytics-metrics-parallel-flow" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Log - No analytics" doc:id="21a040b7-4329-400d-9973-e3a60883f637"
							message="#[&quot;Analytics Metrics won't be collected: &quot;
++ 
(
	if (isEmpty(vars.environments))
      &quot;BG doesn't have environments.&quot;
    else
      &quot;collector not enabled or not supported for the platform deployment model or authentication mode.&quot;
)]" />
						<ee:transform doc:name="Set Null Response" doc:id="5a3e969d-b253-4f2a-934c-39d9ffd47704">
							<ee:message>
								<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</route>
			<route>
				<choice doc:name="If collectors contains amq" doc:id="0d34cd64-b06b-408a-b2d0-dab5453a06af">
					<when expression='#[not isEmpty(vars.environments) and (vars.collectors as Array contains "amq")]'>
						<flow-ref doc:name="Get MQ Metrics" doc:id="b149c396-c659-4ef6-918d-c7c412a4d4a1" name="collector-mq-metrics-parallel-flow" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Log - No amq" doc:id="6a40e4f4-6dc9-409c-9af6-77c4bcc2e1af"
							message="#[&quot;Anypoint MQ Metrics won't be collected: &quot;
++ 
(
	if (isEmpty(vars.environments))
      &quot;BG doesn't have environments.&quot;
    else
      &quot;collector not enabled or not supported for the platform deployment model or authentication mode.&quot;
)]" />
						<ee:transform doc:name="Set Null Response" doc:id="3e364ff7-8f96-409c-adf9-7693d0ef47f9">
							<ee:message>
								<ee:set-payload resource="dw/aggregation/set-null-response.dwl" />
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</route>
		</scatter-gather>
		<choice doc:name="If rawData is needed" doc:id="4b7d5365-1362-4167-95fb-5ca5799ee552">
			<when expression="#[vars.rawData]">
				<ee:transform doc:name="Build Raw Data Response" doc:id="5eaabad3-1255-47a0-9e1c-5febab991b21">
					<ee:message>
						<ee:set-payload resource="dw/aggregation/build-platform-raw-data-response.dwl" />
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Build Metrics Aggregated Response" doc:id="f0ccb504-8c1f-4bc8-b646-fe0d3d0eacb2">
					<ee:message>
						<ee:set-payload resource="dw/aggregation/build-platform-metrics-aggregation.dwl" />
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="abeec812-a11a-4a7c-81f6-c9830ff6af70" message="Metrics aggregated successfully" />
	</flow>

	<flow name="aggregator-platform-metrics-arm-flow" doc:id="2eed9166-ad29-43c6-b1a3-5a971150a931">
		<scatter-gather doc:name="Scatter-Gather" doc:id="1e8dbc13-cf0f-411f-ba21-640d93869819">
			<route>
				<flow-ref doc:name="ARM Deployments Metrics Flow Reference" doc:id="38163abb-40d5-4417-a624-2dbc399d1a9b"
					name="collector-arm-deployments-metrics-parallel-flow" />
			</route>
			<route>
				<flow-ref doc:name="ARM Server Metrics Flow Reference" doc:id="213800fb-e2b6-4fdd-b3b3-1370219f543b"
					name="collector-arm-servers-metrics-parallel-flow" />
			</route>
			<route>
				<flow-ref doc:name="ARM Cluster Metrics Flow Reference" doc:id="f12ce243-799c-4ef0-97b2-fe19a71f3311"
					name="collector-arm-clusters-metrics-parallel-flow" />
			</route>
			<route>
				<flow-ref doc:name="ARM ServerGroups Metrics Flow Reference" doc:id="e6703e89-e973-4a9c-8844-51d1535cc1f7"
					name="collector-arm-server-groups-metrics-parallel-flow" />
			</route>
			<route>
				<choice doc:name="Choice" doc:id="22fab59d-e38c-42cf-95a5-ef5ac5b037ce">
					<when expression='#[Mule::p("anypoint.platform.apis.arm.apps.enabled") == "true"]'>
						<flow-ref doc:name="collector-arm-apps-metrics-parallel-flow" doc:id="7d054ece-8e5c-4541-a339-c17b06b34f05"
							name="collector-arm-apps-metrics-parallel-flow" />
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="75b6a914-b56b-40f3-867a-996303389769" message="ARM:Applications not enabled"/>
					</otherwise>
				</choice>
			</route>
		</scatter-gather>
	</flow>

	<flow name="aggregator-platform-metrics-coreservices-flow" doc:id="bde4eda9-b9d9-4766-a35d-ea9406fabdb1">
		<scatter-gather doc:name="Scatter-Gather" doc:id="5d665955-1a16-4517-89e1-5b01aa144803">
			<route>
				<flow-ref doc:name="Coreservices Members Flow Reference" doc:id="37203d4e-f12a-4bda-be3e-0035c046af72"
					name="collector-members-metrics-flow" />
			</route>
			<route>
				<choice doc:name="Choice" doc:id="c17848cc-fcea-4870-af79-75c1f9ed8fe4">
					<when expression="#[vars.authMode != 'connected-app-credentials']">
						<flow-ref doc:name="Coreservices Usage Flow Reference" doc:id="01f684db-614f-416a-bd90-1f74a954b70d"
							name="collector-usage-metrics-flow" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Logger" doc:id="f12c10d3-016a-42c7-afe4-315e9d239491"
							message="Coreservices::Usage not supported when authentication mode is connected-app-credentials"/>
					</otherwise>
				</choice>
			</route>
			<route>
				<choice doc:name="Choice" doc:id="e7e17024-2ea6-4e76-baa2-2f4ae8bc1c35">
					<when
						expression="#[Mule::p(&quot;anypoint.platform.apis.coreservices.rolegroups.enabled&quot;) == &quot;true&quot; and vars.authMode != 'connected-app-credentials']">
						<flow-ref doc:name="collector-rolegroups-metrics" doc:id="c446c3a8-f5c2-4d31-a6f6-0bf45f9825b4"
							name="collector-rolegroups-metrics" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Logger" doc:id="f92e6e11-460d-4964-909c-3b6a7d667676"
							message='#[if (Mule::p("anypoint.platform.apis.coreservices.rolegroups.enabled") != "true")
  "Coreservices::RoleGroups not enabled"
else
  "Coreservices::RoleGroups not supported when authentication mode is connected-app-credentials"]'/>
					</otherwise>
				</choice>
			</route>
		</scatter-gather>
	</flow>

</mule>
