src/main/mule/sources/anypoint/platform/apis/api-call-api-manager.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="api-call-api-manager-apis-flow" doc:id="cb45e4dc-7fd3-476d-aff3-7c0a30556088"
		maxConcurrency="${anypoint.platform.apis.apiManager.maxConcurrency}">
		<logger level="DEBUG" doc:name="Logger" doc:id="c04d063d-9f26-41c8-9f2c-efd64bc5a457" message="Calling API Manager - APIs" />
		<ee:transform doc:name="offset" doc:id="c13c0763-5f72-41cb-9c03-c99cf11d9b2f">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="dw/anypoint/save-offset-var.dwl" variableName="offset" />
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Get APIs Request" doc:id="ea3a4010-08c1-44e9-b9d4-a82201dbb162"
			config-ref="HTTP_Request_configuration" path="${anypoint.platform.apis.apiManager.apis.path}">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.token
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	"orgId" : vars.orgId,
	"envId" : vars.environmentId
}]]]></http:uri-params>
			<http:query-params><![CDATA[#[output application/java
---
{
	offset : vars.offset
}]]]></http:query-params>
		</http:request>
		<logger level="DEBUG" doc:name="Logger" doc:id="44625425-13b2-42b6-9886-1bbbe2de07fb" message='#["API Manager - APIs, Response Status Code:" ++ attributes.statusCode]' />
		<flow-ref doc:name="Check if need to request more APIs" doc:id="17d7b3ae-ab10-4c81-b45b-adf7df4cb3ad" name="call-paginated-apis-if-required-subflow"/>
	</flow>

	<sub-flow name="call-paginated-apis-if-required-subflow" doc:id="87bf7e6a-54f1-4633-b6e4-b49585e64576">
		<ee:transform doc:name="apisTotalObtained" doc:id="37cdff2e-37d7-479e-bfa1-89fed66fc6ae">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="dw/anypoint/save-apis-obtained.dwl" variableName="apisTotalObtained" />
			</ee:variables>
		</ee:transform>
		<choice doc:name="Are there remaining apis?" doc:id="8d99249a-14bd-4c6a-b3fc-21f64f6f342b">
			<when expression="#[vars.apisTotalObtained != payload.total]">
				<ee:transform doc:name="aggregatedAPIPayload" doc:id="4b540c7a-f2c7-42de-bf41-fc384ab85f74">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable resource="dw/anypoint/save-aggregated-api-payload-var.dwl" variableName="aggregatedAPIPayload" />
					</ee:variables>
				</ee:transform>
				<set-variable value="#[vars.offset + Mule::p('anypoint.platform.apis.apiManager.apiDefaultOffset')]" doc:name="offset" doc:id="556d0a3f-3cbe-42ee-b5aa-c5dad5f21e10"
					variableName="offset" />
				<flow-ref doc:name="Get more apis" doc:id="3431bd02-f793-45a2-92f6-9c4f63b83513" name="api-call-api-manager-apis-flow" />
			</when>
			<otherwise>
				<logger level="DEBUG" doc:name="Log - No remaining APIs" doc:id="d1d3fd6e-9fb2-4f7e-bc66-e7283f0871de" message="No remaining APIs" />
				<ee:transform doc:name="aggregatedAPIPayload as Payload" doc:id="eec48013-5edc-4835-b445-ed185176c573">
					<ee:message>
						<ee:set-payload resource="dw/anypoint/save-aggregated-api-payload-var.dwl" ></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</sub-flow>

	<flow name="api-call-api-manager-api-policies-flow" doc:id="392b0852-86a0-4067-bab6-7b5f55855136"
		maxConcurrency="${anypoint.platform.apis.apiManager.maxConcurrency}">
		<logger level="DEBUG" doc:name="Log - Call APIM " doc:id="19b1b41d-e3f3-40bf-a39d-2fbdfc8e2738"
			message="Calling API Manager - API Policies" />
		<until-successful maxRetries="${anypoint.platform.apis.apiManager.apiPolicies.retries.max}" doc:name="Until Successful"
			doc:id="bb0f3611-9f0e-43bb-bbc9-efb617ca214e" millisBetweenRetries="${anypoint.platform.apis.apiManager.apiPolicies.retries.wait}">
			<http:request method="GET" doc:name="Get API Policies Request" doc:id="d5c85809-9166-498c-babc-e74cd8a8a886"
				config-ref="HTTP_Request_configuration" path="${anypoint.platform.apis.apiManager.apiPolicies.path}">
				<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.token
}]]]></http:headers>
				<http:uri-params><![CDATA[#[output application/java
---
{
	"orgId" : vars.orgId,
	"apiId" : vars.apiId,
	"envId" : vars.environmentId
}]]]></http:uri-params>
				<http:query-params><![CDATA[#[output application/java
---
{
	"includeProxyTemplate" : true,
	"includeTlsContexts" : true,
	"includeValidation" : true
}]]]></http:query-params>
			</http:request>
		</until-successful>
		<logger level="DEBUG" doc:name="Logger" doc:id="3099c073-7970-440a-8683-90ecfe96a6d5"
			message='#["API Manager - API Policies, Response Status Code:" ++ attributes.statusCode]' />
	</flow>
	<flow name="api-call-api-manager-automated-policies-flow" doc:id="42654c28-a89d-4de6-88ba-dc0fb72281a8"
		maxConcurrency="${anypoint.platform.apis.apiManager.maxConcurrency}">
		<logger level="DEBUG" doc:name="Logger" doc:id="72a5e4e6-06fc-40d8-a9c8-b52535a58743"
			message="Calling API Manager - Automated Policies" />
		<http:request method="GET" doc:name="Get Automated Policies Request" doc:id="12594095-06f6-4b7a-af6d-5b3150abe1af"
			config-ref="HTTP_Request_configuration" path="${anypoint.platform.apis.apiManager.automatedPolicies.path}">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.token
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	"orgId" : vars.orgId
}]]]></http:uri-params>
			<http:query-params><![CDATA[#[output application/java
---
{
	"environmentId" : vars.environmentId
}]]]></http:query-params>
		</http:request>
		<logger level="DEBUG" doc:name="Logger" doc:id="8bea20cb-7931-4eab-a8d2-fc8ab94ec08c"
			message='#["API Manager - Automated Policies, Response Status Code:" ++ attributes.statusCode]' />
	</flow>
</mule>
