src/main/mule/sources/anypoint/platform/apis/api-call-analytics.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="api-call-analytics-events-flow" doc:id="cb45e4dc-7fd3-476d-aff3-7c0a30556088">
		<logger level="INFO" doc:name="Logger" doc:id="c04d063d-9f26-41c8-9f2c-efd64bc5a457" message="Calling Analytics - Events" />
		<http:request method="GET" doc:name="Get Events Request" doc:id="ea3a4010-08c1-44e9-b9d4-a82201dbb162" config-ref="HTTP_Request_configuration"
			path="${anypoint.platform.apis.analytics.events.path}">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.token
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	"orgId" : p('anypoint.platform.orgId'),
	"envId" : vars.environmentId
}]]]></http:uri-params>
			<http:query-params><![CDATA[#[output application/java
---
{
	"format" : p('anypoint.platform.apis.analytics.events.format'),
	"fields" : p('anypoint.platform.apis.analytics.events.fields'),
	"duration": p('anypoint.platform.apis.analytics.events.duration')
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="44625425-13b2-42b6-9886-1bbbe2de07fb" message='#["Response Status Code:" ++ attributes.statusCode]' />
	</flow>

	<flow name="api-call-analytics-query-flow" doc:id="9b3e1b21-cf25-4acf-b543-6539891fa08c">
		<logger level="INFO" doc:name="Logger" doc:id="aeda6f47-6889-471c-9163-296ed1791eab" message="Calling Analytics - Query" />
		<ee:transform doc:name="Build Analytics Enriched Data Request" doc:id="62a96daa-7d08-4d34-8127-04165454dd3a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "type": "enriched-http-event",
    "duration": p('anypoint.platform.apis.analytics.query.duration'),
    "aggregators": [
        {
            "dimension": "api_id",
            "order": "descending"
        },
        {
            "dimension": "client_id",
            "order": "descending"
        }
    ],
	"include_policy_violation": true
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Get Analytics Enriched Data Request" doc:id="2021c5c3-4242-4cc9-8a29-bad19ce7af3d"
			config-ref="HTTP_Request_configuration" path="${anypoint.platform.apis.analytics.query.path}">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.token
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	"orgId" : p('anypoint.platform.orgId'),
	"envId" : vars.environmentId
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="6b27bd5e-27be-4376-84da-31f328fc8b98" message='#["Response Status Code:" ++ attributes.statusCode]' />
	</flow>


</mule>
