src/main/mule/sources/anypoint/platform/apis/api-call-exchange.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="api-call-exchange-assets-flow" doc:id="cb45e4dc-7fd3-476d-aff3-7c0a30556088" maxConcurrency="${anypoint.platform.apis.exchange.maxConcurrency}">
		<logger level="INFO" doc:name="Logger" doc:id="c04d063d-9f26-41c8-9f2c-efd64bc5a457" message="Calling Exchange - Assets" />
		<set-variable value='query Platform { assets(organizationIds: ["a5ff6947-66ff-4292-a31d-51f322457ee6"], latestVersionsOnly: true) { organizationId, groupId, assetId, version, minorVersion, versionGroup, description, name, type, status, isPublic, isLatestVersion, createdDate, updatedDate, originalFormat, minMuleVersion, isGenerated, isMozartTemplate, isSnapshot, rating, numberOfRates } }' doc:name="Set graphqlQuery" doc:id="a26748f9-1b9b-4f4e-afb7-3892de2a3b15" variableName="graphqlQuery"/>
		<flow-ref doc:name="execute-graphql-query" doc:id="495f6701-b5cd-4b46-9788-6b478ef557a6" name="execute-graphql-query"/>
		<set-payload value="#[output application/java --- payload.data.assets]" doc:name="Set Payload" doc:id="536390ec-0bf3-4f0c-b46c-159bc1e6fd51" />
		<logger level="INFO" doc:name="Logger" doc:id="44625425-13b2-42b6-9886-1bbbe2de07fb" message='#["Response Status Code:" ++ attributes.statusCode]' />
	</flow>
	<sub-flow name="execute-graphql-query" doc:id="17e4c4e9-a4d9-44cb-b281-cea01a9e8a00" >
		<http:request method="POST" doc:name="GraphQL Query" doc:id="1f623af2-82f7-4c5e-9ba4-559bc8bf251f" config-ref="HTTP_Request_configuration" path="${anypoint.platform.apis.exchange.graphql.path}" >
			<http:body ><![CDATA[#[output application/json
---
{
  query: vars.graphqlQuery,
  variables: {
  	accessToken: vars.token
  },
  operationName: "Platform"
}]]]></http:body>
		</http:request>
	</sub-flow>


</mule>
