src/main/mule/sources/external/systems/apis/api-call-confluence.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="api-call-confluence-apps-flow" doc:id="cb45e4dc-7fd3-476d-aff3-7c0a30556088">
		<logger level="INFO" doc:name="Logger" doc:id="c04d063d-9f26-41c8-9f2c-efd64bc5a457" message="Calling Confluence - APIs" />
		<set-variable value="1" doc:name="Set Counter" doc:id="4789a31f-4e3e-4868-b7a8-1760c8303f3c" variableName="counter"/>
		<set-variable value="${sdlc.confluence.path}" doc:name="Set Path" doc:id="428ee29a-5943-4f7b-b68e-9157d2c74002" variableName="path"/>
		<flow-ref doc:name="recursive-call-confluence-apps-flow" doc:id="45b4711d-f724-41e4-80ca-31ecbad06f29" name="recursive-call-confluence-apps-flow"/>
		<ee:transform doc:name="Prepare Output" doc:id="2c4e0c54-1fa4-461e-a37d-a256ecc41d2d" >
			<ee:message >
			<ee:set-payload resource="dw/api/build-confluence-raw-data-response.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="44625425-13b2-42b6-9886-1bbbe2de07fb" message='#["Response Status Code:" ++ attributes.statusCode]' />
	</flow>
	<sub-flow name="recursive-call-confluence-apps-flow" doc:id="8f461f0d-d1f7-4622-b71b-549fab58621d" >
		<choice doc:name="Choice" doc:id="78af6f64-2c66-4b6e-a46e-b523c29fb70c" >
			<when expression="#[vars.counter &gt; 0]">
				<http:request method="GET" doc:name="GET Pages" doc:id="84b25210-bc74-4193-967a-c39c8de3a97c" config-ref="HTTP_Confluence_Request_Config" path="#[vars.path]" responseTimeout="30000">
		</http:request>
				<ee:transform doc:name="Aggregate Output" doc:id="e2a6607c-5628-4339-a705-ea428382f350">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="outputPayload" ><![CDATA[%dw 2.0
output application/json
---
vars.outputPayload default [] ++ payload.results]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<set-variable value="#[output application/java --- if(payload.size == payload.limit) vars.counter else 0]" doc:name="Update Counter" doc:id="873c8284-6c10-4883-b898-00f920b3f235" variableName="counter"/>
				<set-variable value='#[payload."_links".context ++ payload."_links".next default ""]' doc:name="Update Path" doc:id="745cb63f-70e1-4e70-8f07-e1aea35471c6" variableName="path"/>
				<flow-ref doc:name="recursive-call-confluence-apps-flow" doc:id="348a0675-bb03-47c4-aa84-67fc48b2b695" name="recursive-call-confluence-apps-flow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="dd921b44-364d-4e8e-a542-c203d34bb00a" message="All Matching records extracted from confluence"/>
			</otherwise>
		</choice>
	</sub-flow>
</mule>
