src/main/mule/sources/external/systems/apis/api-call-splunk.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="api-call-splunk-apps-flow" doc:id="cb45e4dc-7fd3-476d-aff3-7c0a30556088">
		<logger level="DEBUG" doc:name="Logger" doc:id="c04d063d-9f26-41c8-9f2c-efd64bc5a457" message="Calling Splunk - APIs" />
		<http:request method="GET" doc:name="Get-Splunk-DashboardCount" doc:id="281e4a0a-e8ac-4ee4-a077-4d688d452069" path="${sdlc.splunk.path}" config-ref="HTTP_Splunk_Request_Config"/>
		<logger level="DEBUG" doc:name="Logger" doc:id="44625425-13b2-42b6-9886-1bbbe2de07fb" message='#["Response Status Code:" ++ attributes.statusCode]' />
		<ee:transform doc:name="Retrieve Metrics" doc:id="37f9b824-b6bc-4890-ae66-0040acca3395" >
			<ee:message >
				<ee:set-payload resource="dw/api/build-splunk-metrics-data-response.dwl" />
			</ee:message>
		</ee:transform>
	</flow>


</mule>
