src/main/mule/sources/external/systems/apis/api-call-jira.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="api-call-jira-metrics-backlog-items-flow" doc:id="cb45e4dc-7fd3-476d-aff3-7c0a30556088">
		<logger level="DEBUG" doc:name="Logger" doc:id="c04d063d-9f26-41c8-9f2c-efd64bc5a457" message="Calling Jira Backlog - APIs" />
		<http:request method="GET" doc:name="GET Backlog Items" doc:id="d0997982-315e-4a12-b8f9-6b493e253ef5" path="${sdlc.jira.backlogPath}" config-ref="HTTP_Jira_Request_Config"/>
		<logger level="DEBUG" doc:name="Logger" doc:id="44625425-13b2-42b6-9886-1bbbe2de07fb" message='#["Response Status Code:" ++ attributes.statusCode]' />
	</flow>
	
	<flow name="api-call-jira-metrics-stories-flow" doc:id="e921ec15-1975-4b80-bdf5-931b43fac2ad">
		<logger level="DEBUG" doc:name="Logger" doc:id="cc1fc929-6c79-4223-a438-4836c31f8085" message="Calling Jira Stories - APIs" />
		<set-variable value="1" doc:name="Set Counter" doc:id="e14d62ff-22f6-49c2-b52e-fb9e2010d7d0" variableName="counter" />
		<set-variable value="${sdlc.jira.path}" doc:name="Set Path" doc:id="c843c598-69c5-4fee-acb1-30012d3dbace" variableName="path" />
		<flow-ref doc:name="recursive-call-jira-metrics-stories-flow" doc:id="a6f6ec25-2e0d-4b68-8778-492fdb41c618" name="recursive-call-jira-metrics-stories-flow" />
		<ee:transform doc:name="Prepare Output" doc:id="2dc5e17e-d6ff-42ec-91b6-111122292908">
			<ee:message>
			<ee:set-payload resource="dw/api/build-jira-raw-data-response.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" doc:name="Logger" doc:id="c36021d5-e271-4f6a-b632-155686cf6879" message='#["Response Status Code:" ++ attributes.statusCode]' />
	</flow>
	<sub-flow name="recursive-call-jira-metrics-stories-flow" doc:id="8245000b-72b0-4d43-941a-31d6d69d81b9" >
		<choice doc:name="Choice" doc:id="1820acfd-2286-4c40-bb6c-a5d20d6b25af" >
			<when expression="#[vars.counter &gt; 0]" >
				<http:request method="GET" doc:name="GET Stories" doc:id="a7eed045-72d0-4acb-ba83-7508e5c9c050" config-ref="HTTP_Jira_Request_Config" path="#[vars.path]" />
				<ee:transform doc:name="Aggregate Output" doc:id="72c4adb0-d8e5-4fd7-9de0-b335c45c1be7" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="outputPayload" ><![CDATA[%dw 2.0
output application/json
---
vars.outputPayload default [] ++ payload.issues]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<set-variable value="#[output application/java --- if(sizeOf(payload.issues)&gt;0) vars.counter else 0]" doc:name="Update Counter" doc:id="e9cdb6dd-932f-47d7-9818-ec116fb4d41e" variableName="counter" />
				<set-variable value="#[output application/java --- p('sdlc.jira.path') ++ &quot;&amp;startAt=&quot; ++ payload.startAt + payload.maxResults]" doc:name="Update Path" doc:id="55a39139-eb43-424d-bd6e-fa78c721e5f0" variableName="path" />
				<flow-ref doc:name="recursive-call-jira-metrics-stories-flow" doc:id="e6f26c02-e07c-49a5-af74-31a9376f0e27" name="recursive-call-jira-metrics-stories-flow" />
			</when>
			<otherwise >
				<logger level="DEBUG" doc:name="Logger" doc:id="65c67e92-de89-44bd-b07b-1afae8147085" message="All Matching records extracted from jira"/>
			</otherwise>
		</choice>
	</sub-flow>
</mule>
