src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:mcp="http://www.mulesoft.org/schema/mule/mcp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mcp http://www.mulesoft.org/schema/mule/mcp/current/mule-mcp.xsd">
    <apikit:config name="api-config" api="api/metrics-toolkit-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <mcp:server-config name="MCP_Server" doc:name="MCP Server" doc:id="24717ac0-e791-4309-bc77-910bd51d2f93" serverName="Metrics Toolkit MCP Server" serverVersion="1.0.0">
		<mcp:sse-server-connection listenerConfig="MCP_HTTP_Listener" />
	</mcp:server-config>
	<http:listener-config name="MCP_HTTP_Listener" doc:name="HTTP Listener config" doc:id="d1c63c3c-77d0-4cba-a4ae-e78b0e5a6adc" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="web-main" doc:id="21dfe96e-4a3e-4810-8a77-9a84600f1a4b">
        <http:listener doc:name="Listener" doc:id="a7a27ecf-5e78-414d-a4ff-9b8680b1bac1" config-ref="HTTP_Listener_config" path="${embedded.dashboard.path}" />
        <choice doc:name="Choice" doc:id="e720d2e4-713c-4ee1-8f5d-6180e02af532">
            <when expression="#[p('embedded.dashboard.enabled')]">
                <logger level="DEBUG" doc:name="Web UI enabled" doc:id="2e80ee6c-b267-4464-bac3-b82cc4aa7622" message="Web UI enabled; providing static resources" />
                <http:load-static-resource doc:name="Load static resource" doc:id="7aae6e23-0946-4fd6-a4ce-8459f9f08885" resourceBasePath="${mule.home}/apps/${app.name}/web/" />
            </when>
            <otherwise>
                <logger level="DEBUG" doc:name="Web UI disabled" doc:id="f92de18d-3b3e-4086-b624-6076b9e8ba96" message="Web UI is disabled, so return NOT IMPLEMENTED" />
                <ee:transform doc:name="Set 501 - Not Implemented" doc:id="ee410da7-4012-4b35-a4ba-fe224ee4e23e">
                    <ee:message>
                        <ee:set-payload resource="dw/apikit/error-not-implemented.dwl" />
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
501 as Number]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>
    <flow name="api-main">
        <http:listener config-ref="HTTP_Listener_config" path="${api.path}">
            <http:response statusCode="#[vars.httpStatus default 200]" />
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST,VALIDATION:INVALID_BOOLEAN" enableNotifications="true" logException="true">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="f0eda6c8-1ae6-4505-9698-2d34fb4de78a">
                    <ee:message>
                        <ee:set-payload resource="dw/apikit/error-bad-request.dwl" />
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="3d87f3ef-5463-4d37-b9d0-9354c3a34db2">
                    <ee:message>
                        <ee:set-payload resource="dw/apikit/error-not-found.dwl" />
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="87499c00-9f96-41de-8d43-921028a70206">
                    <ee:message>
                        <ee:set-payload resource="dw/apikit/error-method-not-allowed.dwl" />
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="959fdafd-68dc-4b72-8c5e-91b8487f1420">
                    <ee:message>
                        <ee:set-payload resource="dw/apikit/error-not-acceptable.dwl" />
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="4cb1db2c-c917-46ef-8119-ada337afad74">
                    <ee:message>
                        <ee:set-payload resource="dw/apikit/error-unsupported-media-type.dwl" />
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="1b8ae772-08c4-4ece-84fb-3e6018ec7c5e">
                    <ee:message>
                        <ee:set-payload resource="dw/apikit/error-not-implemented.dwl" />
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="ANY">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="aeca5166-a6d3-4c3f-b812-1e2783434aee">
                    <ee:message>
                        <ee:set-payload resource="dw/apikit/error-any.dwl" />
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="89f359e1-73a5-466a-81ec-75564830dc65">
                    <ee:message>
                        <ee:set-payload resource="dw/apikit/error-not-found.dwl" />
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mcp-tool-getCapabilities-flow" doc:id="835da8bf-ff29-4b32-8975-a6caecd3d842" >
		<mcp:tool-listener doc:name="Tool Listener" doc:id="1965b465-6a4b-473d-80d5-b4e95eddb083" config-ref="MCP_Server" name="getCapabilities">
			<mcp:description ><![CDATA[ Returns a machine-readable summary of the metrics toolkit capabilities, including available tools, parameters, and usage hints.]]></mcp:description>
			<mcp:parameters-schema ><![CDATA[{ 
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "properties": {},
  "required": []
}]]></mcp:parameters-schema>
			<mcp:responses >
				<mcp:text-tool-response-content text="#[payload.^raw]" />
			</mcp:responses>
		</mcp:tool-listener>
		<flow-ref doc:name="getAgentCapabilities Implementation" doc:id="0d9ae444-4024-4784-83b7-2b28b3f85be2" name="mcp-tool-impl-getCapabilities-subflow"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0b535b0f-8771-46af-9368-eea8ac1d3840" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="6df44fb3-27f8-467a-9123-dd8bdf9bac40" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload resource="dw/mcp/error-any.dwl" />
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="mcp-tool-getAvailableCollectors-flow" doc:id="a167ca75-a594-416a-b1f5-ec7ed7fb864a" >
		<mcp:tool-listener doc:name="Tool Listener" doc:id="9824ecf5-35ef-4979-8987-a90ae52bc892" config-ref="MCP_Server" name="getAvailableCollectors">
			<mcp:description ><![CDATA[Returns all collector identifiers supported by the API]]></mcp:description>
			<mcp:parameters-schema ><![CDATA[{ 
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "properties": {},
  "required": []
}]]></mcp:parameters-schema>
			<mcp:responses >
				<mcp:text-tool-response-content text="#[payload.^raw]" />
			</mcp:responses>
		</mcp:tool-listener>
		<flow-ref doc:name="getAvailableCollectors Implementation" doc:id="8c98696b-4cec-4eb3-b749-076e238197d0" name="mcp-tool-impl-getAvailableCollectors-subflow"/>
	</flow>
	<flow name="mcp-tool-getPlatformMetricsByCollector-flow" doc:id="74fdde6f-5b41-4c04-9beb-48f2d7b0665b" >
		<mcp:tool-listener doc:name="Tool Listener" doc:id="5f73ac99-6463-48a9-9f51-9adc5eb46914" config-ref="MCP_Server" name="getPlatformMetricsByCollector">
			<mcp:description ><![CDATA[Retrieves platform metrics for a specific collector.
]]></mcp:description>
			<mcp:parameters-schema ><![CDATA[{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "properties": {
    "collectorId": {
      "type": "string",
      "description": "Identifier of the collector to fetch metrics from"
    },
    "bg": {
      "type": "string",
      "description": "Business group identifier"
    },
    "environment": {
      "type": "string",
      "description": "Optional environment filter (e.g., production, sandbox)"
    },
    "region": {
      "type": "string",
      "description": "Optional region filter (e.g., us-east-1, eu-west-2)"
    }
  },
  "required": [
    "collectorId",
    "bg"
  ]
}]]></mcp:parameters-schema>
			<mcp:responses >
				<mcp:text-tool-response-content text="#[payload.^raw]" />
			</mcp:responses>
		</mcp:tool-listener>
		<flow-ref doc:name="getPlatformMetricsByCollector Implementation" doc:id="2954f765-4838-4d31-94b1-579fb497e958" name="mcp-tool-impl-getPlatformMetricsByCollector-subflow"/>
	</flow>
	<flow name="get:\platform-metrics:api-config" doc:id="8ed3bf31-4e7e-4247-81e3-b0810196b42c">
        <flow-ref doc:name="Set Auth Vars from Headers Flow Reference" doc:id="a99d508d-5bd1-4627-88d1-fec6fb4ed7cf" name="common-set-auth-vars-from-headers" />
        <flow-ref doc:name="Set Aggregator Details From Query Params Flow Reference" doc:id="526a1967-37bb-499f-a47d-9c469bb3df26" name="common-set-aggregator-vars-from-query-params" />
        <flow-ref doc:name="Set API Manager Properties Flow Reference" doc:id="7dae5ce0-f409-4c29-bcf1-44e4c7f04166" name="common-set-collector-vars-from-properties-api-manager" />
        <flow-ref doc:name="Aggregator Master Flow Reference" doc:id="5484cc09-2351-49d6-b728-a0d4b0b0d1b9" name="aggregator-platform-metrics-master-flow" />
    </flow>
    <flow name="post:\platform-metrics\load:application\json:api-config">
        <flow-ref doc:name="Set Auth Vars from Headers Flow Reference" doc:id="e514bd7d-bdbc-4492-844c-b9d4549155f9" name="common-set-auth-vars-from-headers" />
        <flow-ref doc:name="Set API Manager Properties Flow Reference" doc:id="0a20abbe-35c4-43a7-bba7-6c31517516af" name="common-set-collector-vars-from-properties-api-manager" />
        <flow-ref doc:name="Set Loader Details From Payload Flow Reference" doc:id="e6cdbaa6-d042-4dda-ad53-a9bcb88ee768" name="common-set-loader-vars-from-payload" />
        <flow-ref doc:name="Loader Flow Reference" doc:id="9b9b2d75-6d61-40ce-bc19-518cbb135eb8" name="loader-router-flow" />
    </flow>
    <flow name="get:\business-metrics:api-config">
        <flow-ref doc:name="Set Auth Vars from Headers Flow Reference" doc:id="fd377e58-59aa-44cf-ad08-86aab248ef23" name="common-set-auth-vars-from-headers" />
        <flow-ref doc:name="Set Benefits Vars From Query Params Flow Reference" doc:id="4f874701-0491-483f-879e-7fcf9bac5243" name="common-set-benefits-vars-from-query-params" />
        <flow-ref doc:name="Set API Manager Properties Flow Reference" doc:id="183741ba-1102-446c-a736-7416ab07cfbc" name="common-set-collector-vars-from-properties-api-manager" />
        <flow-ref doc:name="Aggregator Platform Benefits Flow Reference" doc:id="ab111296-7f07-480b-b76c-c05de17ae188" name="aggregator-platform-benefits-master-flow" />
    </flow>
    <flow name="post:\business-metrics\load:application\json:api-config">
        <flow-ref doc:name="Set Auth Vars from Headers Flow Reference" doc:id="666ad8cc-9088-4d24-8839-f665a9f9deaa" name="common-set-auth-vars-from-headers" />
        <flow-ref doc:name="Set API Manager Properties Flow Reference" doc:id="c7ba2905-746b-46e5-a58e-65648625c24d" name="common-set-collector-vars-from-properties-api-manager" />
        <flow-ref doc:name="Set Loader Details From Payload Flow Reference" doc:id="ad58af15-9a99-49c8-bee5-24d3eb73ee04" name="common-set-loader-vars-from-payload" />
        <flow-ref doc:name="Set Benefits Vars From Payload Flow Reference" doc:id="c3fa4f76-0f14-40cb-9738-1c7011851bfa" name="common-set-benefits-vars-from-payload" />
        <flow-ref doc:name="Loader Benfits Flow Reference" doc:id="1117cb81-c116-4ad6-b566-36e4f2d5d30e" name="loader-benefits-router-flow" />
    </flow>
    <flow name="get:\sdlc-metrics:api-config">
        <set-variable value="#[attributes.queryParams.raw]" doc:name="Set Raw Data flag" doc:id="a9f8c832-6093-465b-b738-bdea7988b782" variableName="rawData" />
        <flow-ref doc:name="Set SDLC Details" doc:id="2e0169ea-1652-48ef-89ca-7bc044121f69" name="common-set-sdlc-details" />
        <flow-ref doc:name="Aggregator SDLC Flow Reference" doc:id="1dcfab3e-3016-4bed-8234-763027f4760a" name="aggregator-sdlc-metrics-main-flow" />
    </flow>
    <flow name="post:\sdlc-metrics\load:api-config">
        <flow-ref doc:name="Set Loader Details From Payload Flow Reference" doc:id="5be122d9-d5e8-4059-b082-2eab2c5c4845" name="common-set-loader-vars-from-payload" />
        <flow-ref doc:name="Set SDLC Details" doc:id="700186a4-a8b4-4fc4-bb36-34f80e0129d1" name="common-set-sdlc-details" />
        <flow-ref doc:name="Loader SDLC Flow Reference" doc:id="c84138ab-9d1d-4edf-840e-12d9458584e4" name="loader-sdlc-router-flow" />
    </flow>
</mule>
