src/main/mule/common.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow
		name="common-set-auth-vars-from-headers"
		doc:id="49a5f71b-1858-485c-909a-f535468ebfb2">
		<validation:is-true
			doc:name="Credentials provided?"
			doc:id="ff4ef3a2-2e1b-45ed-b4eb-7afee5cb967d"
			expression='#[( (!isEmpty(attributes.headers."X-ANYPNT-USERNAME") and !isEmpty(attributes.headers."X-ANYPNT-PASSWORD")) or (!isEmpty(attributes.headers."X-ANYPNT-CLIENT-ID") and !isEmpty(attributes.headers."X-ANYPNT-CLIENT-SECRET")) )]' message="Anypoint username and password OR connected app clientId and clientSecret must be provided."/>
		<ee:transform doc:name="Set Master Org Id and Auth Mode" doc:id="63cefa2c-0709-40ad-b2b0-e69e4b9a2d3d" >
			<ee:variables >
				<ee:set-variable resource="dw/common/set-master-org-id-var.dwl" variableName="masterOrgId" />
				<ee:set-variable resource="dw/common/set-auth-mode-var.dwl" variableName="authMode" />
				<ee:set-variable resource="dw/common/set-client-secret-var.dwl" variableName="clientSecret" />
				<ee:set-variable resource="dw/common/set-client-id-var.dwl" variableName="clientId" />
			</ee:variables>
		</ee:transform>
	</flow>
	
	<flow name="common-set-auth-vars-from-properties" doc:id="80516443-205a-40a8-a7cf-28c549d1d58a">
	  <ee:transform doc:name="Set Auth Mode" doc:id="e5e4517c-9250-4ea7-82f9-4e3d6f8cc9d2" >
	    <ee:message >
	    </ee:message>
	    <ee:variables >
	      <ee:set-variable resource="dw/common/set-auth-mode-from-props-var.dwl" variableName="authMode" />
	    </ee:variables>
	  </ee:transform>
	  <ee:transform doc:name="Set Auth Vars from Properties" doc:id="cceb97d1-29b0-4534-8d87-54eb388ab0fc" >
	    <ee:message >
	    </ee:message>
	    <ee:variables >
	      <ee:set-variable resource="dw/common/set-master-org-id-from-props-vars.dwl" variableName="masterOrgId" />
	      <ee:set-variable resource="dw/common/set-client-id-from-props-var.dwl" variableName="clientId" />
	      <ee:set-variable resource="dw/common/set-client-secret-from-props-var.dwl" variableName="clientSecret" />
	    </ee:variables>
	  </ee:transform>
	</flow>
	
	<flow name="common-set-pce-gov-cloud-vars" doc:id="d9721c7a-f76e-425d-873d-6bbdeaa536ff" >
		<set-variable value='#[!(Mule::p("anypoint.platform.host") endsWith ".mulesoft.com")]' doc:name="isPCE" doc:id="70d632bf-ccb9-4ed3-8c60-4503d71b97af" variableName="isPCE" />
		<set-variable value='#[(Mule::p("anypoint.platform.host") == "gov.anypoint.mulesoft.com")]' doc:name="is GovCloud" doc:id="0d2074de-41dd-4a24-8da2-a201d04f0d1b" variableName="isGovCloud" />
	</flow>
	<flow name="common-set-aggregator-vars-from-query-params" doc:id="3afbeac0-5a07-4b36-b75f-0fabae1693bb" >
		<flow-ref doc:name="Flow Reference common-set-pce-gov-cloud-vars" doc:id="b2f99e82-a01b-4568-9afd-d96d999a31ae" name="common-set-pce-gov-cloud-vars"/>
		<ee:transform doc:name="Set Aggregator Vars from Query Params" doc:id="d8a3b6db-0fc3-45ba-beb1-d15e8170caaa" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dw/common/set-raw-data-from-query-params-var.dwl" variableName="rawData" />
				<ee:set-variable resource="dw/common/set-collectors-from-query-params-var.dwl" variableName="collectors" />
			</ee:variables>
		</ee:transform>
	</flow>
	<flow name="common-set-loader-vars-from-payload" doc:id="46ce1dea-7ba5-48d2-9765-afc3acebc5d8">
		<flow-ref doc:name="Flow Reference common-set-pce-gov-cloud-vars" doc:id="c51f4709-5a0e-4c62-a455-497d5f21b67c" name="common-set-pce-gov-cloud-vars"/>
		<ee:transform doc:name="Set Loader Vars from Payload" doc:id="818b3df4-e880-48ed-82cd-d5a763a47de3" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dw/common/set-loader-details-from-payload-var.dwl" variableName="loaderDetails" />
				<ee:set-variable resource="dw/common/set-raw-data-from-loader-details-payload-var.dwl" variableName="rawData" />			
				<ee:set-variable resource="dw/common/set-collectors-from-payload-var.dwl" variableName="collectors" />
			</ee:variables>
		</ee:transform>
	</flow>
	<flow name="common-set-loader-vars-from-properties" doc:id="08f75994-74bc-47c3-8fe8-28004885c762">
		<flow-ref doc:name="Flow Reference common-set-pce-gov-cloud-vars" doc:id="69ac3b7f-0521-49c7-a932-5228194f3b5d" name="common-set-pce-gov-cloud-vars"/>
		<ee:transform doc:name="Build Loader Details From Properties" doc:id="892773d6-5f6f-432d-af3e-03f133a2fb7a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dw/common/set-raw-data-from-props-var.dwl" variableName="rawData" />
				<ee:set-variable resource="dw/common/set-collectors-from-props-var.dwl" variableName="collectors" />
				<ee:set-variable resource="dw/common/set-loader-details-from-props-var.dwl" variableName="loaderDetails" />
			</ee:variables>
		</ee:transform>
	</flow>
	<flow name="common-set-benefits-vars-from-query-params" doc:id="49981a6e-5f09-40b9-8640-5a1af418d086">
		<ee:transform doc:name="Build Platform Benefits Inputs From Query Parameters" doc:id="ff33255d-24fb-4fd6-b39a-03ca94e56f0a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dw/aggregation/build-platform-benefits-from-query-params.dwl" variableName="benefitsInputs" />
			</ee:variables>
		</ee:transform>
	</flow>
	<flow name="common-set-benefits-vars-from-payload" doc:id="83ccc2e8-dfbe-4c8c-9095-a26e42c30991">
		<set-variable value="#[payload.event]" doc:name="Set Benefits Inputs from Payload" doc:id="9d432a1e-41f6-422b-9896-6f5c009aec2b" variableName="benefitsInputs"/>
	</flow>
	<flow name="common-set-sdlc-details" doc:id="9ff8b920-58f8-4708-968c-06d10145178a" >
		<ee:transform doc:name="Set SDLC Details" doc:id="1f452e73-be94-40a3-a5ea-72816e6a755d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dw/common/set-sdlc-details-from-props-var.dwl" variableName="sdlcDetails" />
			</ee:variables>
		</ee:transform>
	</flow>
</mule>
