src/main/mule/common.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
 
	<flow name="metrics-framework-common-set-auth-vars-from-headers" doc:id="49a5f71b-1858-485c-909a-f535468ebfb2">
		<set-variable value='#[attributes.headers."X-ANYPNT-ORG-ID"]' doc:name="Set Master Org Id Variable" doc:id="583bc6bb-f12b-4473-b57f-b5d554fc5676"
			variableName="masterOrgId" />
		<set-variable value='#[if (!isEmpty(attributes.headers."X-ANYPNT-CLIENT-ID")) "connected-app-credentials" else "platform-credentials"]' doc:name="Set Auth Mode" doc:id="ed34b3ea-cb4f-43d1-b568-823a020a0675" variableName="authMode"/>
		<choice doc:name="Choice" doc:id="2a0f377d-08e0-4d07-ac6a-c1d20125606a" >
			<when expression="#[attributes.headers.Authorization != null and (sizeOf(attributes.headers.Authorization) &gt; 0)]">
				<set-variable value='#[%dw 2.0
import * from dw::core::Binaries
output application/java
---
(fromBase64((attributes.headers.Authorization default "") replace "Basic " with "") as String splitBy ":")[0]]' doc:name="Set ClientId Variable from Basic Auth" doc:id="681d4ea0-e2f4-4223-92df-482c47462f0c" variableName="clientId" />
				<set-variable value='#[%dw 2.0
import * from dw::core::Binaries
output application/java
---
(fromBase64((attributes.headers.Authorization default "") replace "Basic " with "") as String splitBy ":")[1]]' doc:name="Set ClientSecret Variable from Basic Auth" doc:id="6f9c4be5-e88f-4270-a117-c615a8bb3fc7" variableName="clientSecret" />
			</when>
			<otherwise >
				<set-variable value='#[if (!isEmpty(attributes.headers."X-ANYPNT-CLIENT-ID")) 
  attributes.headers."X-ANYPNT-CLIENT-ID" 
else 
  attributes.headers."X-ANYPNT-USERNAME"]' doc:name="Set ClientId Variable" doc:id="075e4122-90a7-4d27-b35d-092db96c3f2e" variableName="clientId" />
				<set-variable value='#[if (!isEmpty(attributes.headers."X-ANYPNT-CLIENT-SECRET")) 
  attributes.headers."X-ANYPNT-CLIENT-SECRET" 
else attributes.headers."X-ANYPNT-PASSWORD"]' doc:name="Set ClientSecret Variable" doc:id="e0effa31-6072-4bbb-b3db-49e2e057d6e1" variableName="clientSecret" />
			</otherwise>
		</choice>
	</flow>
	
	<flow name="metrics-framework-common-set-auth-vars-from-properties" doc:id="6e943f88-3e3e-42b0-895a-cc698f44ae6d">
		<set-variable value="#[p('secure::auth.orgId')]" doc:name="Set Master Org Id Variable" doc:id="2f5e7631-e9a0-4abe-bf7b-2632464e286f"
			variableName="masterOrgId" />
		<set-variable value="#[p('auth.mode')]" doc:name="Set Auth Mode" doc:id="ee72d7b8-7f34-4d70-aea6-9ddd5c1fbd65" variableName="authMode"/>
		<set-variable value="#[if (vars.authMode == 'connected-app-credentials') p('secure::auth.clientId') else p('secure::auth.username')]" doc:name="Set ClientId Variable" doc:id="44ad2ad3-421b-4b96-ac56-0c168039abae"
			variableName="clientId" />
		<set-variable value="#[if (vars.authMode == 'connected-app-credentials') p('secure::auth.clientSecret') else p('secure::auth.password')]" doc:name="Set ClientSecret Variable" doc:id="8b40ff6c-f49f-4391-bb2c-92f7bd72ffb0"
			variableName="clientSecret" />
	</flow>
	
	<flow name="metrics-framework-common-set-loader-vars-from-payload" doc:id="46ce1dea-7ba5-48d2-9765-afc3acebc5d8">
		<set-variable value="#[payload.loaderDetails]" doc:name="Set Loader Details Variable" doc:id="44849c09-157e-41b0-ab15-a0b34304db73" variableName="loaderDetails"/>
		<set-variable value="#[vars.loaderDetails.rawData]" doc:name="Set Raw Data flag" doc:id="0d40b678-20de-4a06-80fb-f6ca2ef71f85" variableName="rawData"/>
		<set-variable value='#[!(Mule::p("anypoint.platform.host") endsWith ".mulesoft.com")]' doc:name="sPCE" doc:id="665dad01-394a-44ab-9ff6-b440019dab21" variableName="isPCE" />
		<set-variable value="#[%dw 2.0
output application/java
var collectors = if (isEmpty(payload.collectors)) [&quot;all&quot;] else payload.collectors
---
(if (collectors contains &quot;all&quot;) 
[&quot;ap&quot;,&quot;apc&quot;,&quot;apm&quot;,&quot;arm&quot;,&quot;core&quot;,&quot;dc&quot;,&quot;ex&quot;,&quot;amq&quot;,&quot;apma&quot;,&quot;ch&quot;,&quot;rtf&quot;]
else 
collectors)
-- (if (vars.isPCE) [&quot;ch&quot;,&quot;rtf&quot;,&quot;apma&quot;,&quot;amq&quot;] else [])
-- (if (vars.authMode == 'connected-app-credentials') [&quot;apc&quot;, &quot;amq&quot;] else [])]" doc:name="Set Collectors" doc:id="bc4b906d-3e6d-4acf-ab9a-98bc6679b504" variableName="collectors" />
	</flow>
	
	<flow name="metrics-framework-common-set-loader-vars-from-properties" doc:id="08f75994-74bc-47c3-8fe8-28004885c762">
		<ee:transform doc:name="Build Loader Details From Properties" doc:id="892773d6-5f6f-432d-af3e-03f133a2fb7a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dw/loader/loader-splunk-hec-details-from-properties.dwl" variableName="loaderDetails" />
			</ee:variables>
		</ee:transform>
		<set-variable value="#[vars.loaderDetails.rawData]" doc:name="Set Raw Data flag" doc:id="b8a62246-5aca-4707-9c5c-a795bcbc7f16" variableName="rawData"/>
		<set-variable value='#[!(Mule::p("anypoint.platform.host") endsWith ".mulesoft.com")]' doc:name="isPCE" doc:id="53262699-e9bd-4fc8-8493-9a28aa6dc1ea" variableName="isPCE" />
		<set-variable value="#[var collectors = if (isEmpty(Mule::p(&quot;collectors&quot;))) [&quot;all&quot;] else (Mule::p(&quot;collectors&quot;) as String splitBy &quot;,&quot;)
---
(if (collectors contains &quot;all&quot;) 
[&quot;ap&quot;,&quot;apc&quot;,&quot;apm&quot;,&quot;arm&quot;,&quot;core&quot;,&quot;dc&quot;,&quot;ex&quot;,&quot;amq&quot;,&quot;apma&quot;,&quot;ch&quot;,&quot;rtf&quot;]
else 
collectors)
-- (if (vars.isPCE) [&quot;ch&quot;,&quot;rtf&quot;,&quot;apma&quot;,&quot;amq&quot;] else [])
-- (if (vars.authMode == 'connected-app-credentials') [&quot;apc&quot;, &quot;amq&quot;] else [])]" doc:name="Set Selected Collectors" doc:id="195ddeed-04e9-402a-9bc1-c6bbcb4202cc" variableName="collectors"/>
	</flow>
	
	<flow name="metrics-framework-common-set-benefits-vars-from-query-params" doc:id="49981a6e-5f09-40b9-8640-5a1af418d086">
		<ee:transform doc:name="Build Platform Benefits Payload From Query Parameters" doc:id="ff33255d-24fb-4fd6-b39a-03ca94e56f0a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dw/aggregation/build-platform-benefits-from-query-params.dwl" variableName="benefitsInputs" />
			</ee:variables>
		</ee:transform>
	</flow>
	<flow name="metrics-framework-common-set-benefits-vars-from-payload" doc:id="83ccc2e8-dfbe-4c8c-9095-a26e42c30991">
		<set-variable value="#[payload.event]" doc:name="Set Variable" doc:id="9d432a1e-41f6-422b-9896-6f5c009aec2b" variableName="benefitsInputs"/>
	</flow>
</mule>