src/main/mule/common.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="metrics-framework-common-set-auth-vars-from-headers" doc:id="03e16ef6-6fec-48ef-8401-aacdcb0c682b">
		<set-variable value='#[attributes.headers."X-ANYPNT-ORG-ID"]' doc:name="Set Variable" doc:id="759131f5-05d4-4428-95ce-b7b9fe76da0d"
			variableName="masterOrgId" />
		<set-variable value='#[attributes.headers."X-ANYPNT-USERNAME"]' doc:name="Set Variable" doc:id="ffbebe02-8320-41e8-a5dc-ea6a645e0d11"
			variableName="username" />
		<set-variable value='#[attributes.headers."X-ANYPNT-PASSWORD"]' doc:name="Set Variable" doc:id="44ded1cf-5af3-4631-867a-410963d238c8"
			variableName="password" />
	</flow>
	
	<flow name="metrics-framework-common-set-auth-vars-from-properties" doc:id="bcd8192b-7a75-45a5-963e-6c98065b3e71">
		<set-variable value="#[p('auth.orgId')]" doc:name="Set Variable" doc:id="8b0fe279-f6c8-4478-a0b7-63e2c617dae4"
			variableName="masterOrgId" />
		<set-variable value="#[p('auth.username')]" doc:name="Set Variable" doc:id="25a83be2-4394-4791-9bca-11caf8376406"
			variableName="username" />
		<set-variable value="#[p('auth.password')]" doc:name="Set Variable" doc:id="23e750a5-512e-46bd-8c37-4f8d1eddd533"
			variableName="password" />
	</flow>
</mule>
