src/main/mule/metrics-framework-poller.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="metrics-framework-poller-flow" doc:id="e1266183-c6b3-477b-9ded-da55dd9032fa" >
		<scheduler doc:name="Scheduler" doc:id="bb3cd2a8-90a1-4492-a52d-322485a0f93c" >
			<scheduling-strategy >
				<cron expression="${poller.frequency.cron}" timeZone="${poller.frequency.timezone}"/>
			</scheduling-strategy>
		</scheduler>
		<choice doc:name="Choice" doc:id="e5805079-479d-4523-b8f3-3b6a4a3c8246" >
			<when expression="#[p('poller.enabled') == &quot;true&quot;]">
				<flow-ref doc:name="Set Auth Vars from Properties Flow Reference" doc:id="fe3a2c56-7824-4cf5-b65f-8e9d45ae857b" name="metrics-framework-common-set-auth-vars-from-properties" />
				<flow-ref doc:name="Set Loader Details From Properties Flow Reference" doc:id="648cd66c-3fd0-4a41-92af-427be248dced" name="metrics-framework-common-set-loader-vars-from-properties" />
								<scatter-gather doc:name="Scatter-Gather" doc:id="15bf5dbe-534c-413e-aac5-2ee0ed373a98" >
					<route >
						<flow-ref doc:name="Loader Router Platform Flow Reference" doc:id="3305fb66-3716-4bea-a2f8-d319778deb2a" name="loader-router-flow" />
					</route>
					<route >
						<flow-ref doc:name="Loader Router SDLC Flow Reference" doc:id="92948a09-fda9-438a-990c-06e518835583" name="loader-sdlc-router-flow"/>
					</route>
				</scatter-gather>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="1ec91447-d56a-41b5-ba44-5fd9c47553ee" message="Poller disabled"/>
			</otherwise>
		</choice>
	</flow>
</mule>
