src/main/mule/poller.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="poller-flow" doc:id="e1266183-c6b3-477b-9ded-da55dd9032fa" >
		<scheduler doc:name="Scheduler" doc:id="bb3cd2a8-90a1-4492-a52d-322485a0f93c" disallowConcurrentExecution="true">
			<scheduling-strategy >
				<cron expression="${poller.frequency.cron}" timeZone="${poller.frequency.timezone}"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Set Poller Details" doc:id="b68fd709-c763-4ecb-b163-ba60ed3e72ea" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dw/poller/set-poller-details-vat.dwl" variableName="pollerDetails" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="poller-main-flow" doc:id="dbff7810-ecfb-4be7-84a3-0171747aae8d" name="poller-main-flow"/>
		
	</flow>
	<flow name="poller-main-flow" doc:id="064decf2-07b4-4c90-9021-fa3886f4251e" >
		<choice doc:name="Choice" doc:id="63baf667-d196-41d3-a67d-06df1dbc9f52" >
			<when expression='#[vars.pollerDetails.generalPollerEnabled == "true"]'>
				<flow-ref doc:name="Set Auth Vars from Properties Flow Reference" doc:id="596e18f8-877c-4fb3-91f0-53df0a411bee" name="common-set-auth-vars-from-properties" />
				<flow-ref doc:name="Set API Manager Properties Flow Reference" doc:id="5d08a2e8-cee5-4dbd-afbc-6d9b5970ae86" name="common-set-collector-vars-from-properties-api-manager" />
				<flow-ref doc:name="Set Loader Details From Properties Flow Reference" doc:id="0e8dba24-5164-4f28-aefe-6f3f609d2e77" name="common-set-loader-vars-from-properties" />
				<scatter-gather doc:name="Scatter-Gather" doc:id="60e64dc9-861d-45b6-9fc4-cba76e36e651" >
					<route >
						<flow-ref doc:name="Loader Router Platform Flow Reference" doc:id="37716978-fcc0-47d3-98f7-8256faa5faf3" name="loader-router-flow" />
					</route>
					<route >
						<choice doc:name="Choice" doc:id="9361572d-0756-4d9c-80fe-d5d0fc776a3f" >
							<when expression='#[vars.pollerDetails.sdlcPollerEnabled == "true"]'>
								<flow-ref doc:name="Set SDLC Details" doc:id="57ddfa2b-2d37-4598-958e-753d11d9dbd6" name="common-set-sdlc-details"/>
								<flow-ref doc:name="Loader Router SDLC Flow Reference" doc:id="a82cb6c4-5b15-4b32-8ce4-29ad5c9d2544" name="loader-sdlc-router-flow" />
							</when>
							<otherwise >
								<logger level="INFO" doc:name="Logger" doc:id="866ae385-b0dc-4901-bd53-b0a77e7db20a" message="SDLC Poller disabled"/>
							</otherwise>
						</choice>
					</route>
				</scatter-gather>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="2153c3c6-6089-48bb-89c3-be5bec3eae65" message="Main Poller disabled"/>
			</otherwise>
		</choice>
	</flow>
</mule>
