src/main/mule/loaders/loader-tableau.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	
	
	<file:config name="File_Config" doc:name="File Config" doc:id="9ca35557-794f-4184-b060-541b49f75930" >
		<file:connection />
	</file:config>
	<flow name="loader-tableau-main-flow" doc:id="ef10b993-2925-4b83-8b9b-83092f1e3c97">
		<flow-ref doc:name="Aggregate Platform Metrics Flow Reference" doc:id="bb826e60-6bea-4a12-a0be-1c141c2cebf5" name="aggregator-platform-metrics-master-flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="bc500a4d-66b9-457f-93df-f44c1066e18e" message="Generating Tableau File"/>
		<flow-ref doc:name="Write File" doc:id="49686a00-7828-402d-8c2c-7d191bf7cd80" name="loader-tableau-write-file-flow"/>
	</flow>
	
	<flow name="loader-benefits-tableau-main-flow" doc:id="2dce9f09-a984-4f90-bb48-1e7338fafcee">
		<flow-ref doc:name="Aggregate Platform Benefits Flow Reference" doc:id="26ed389e-c750-4eb1-97fc-26640b1061b8" name="aggregator-platform-benefits-master-flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="908b7f95-06de-44cb-9cb6-58bb2115c6f0" message="Generating Tableau File"/>
		<flow-ref doc:name="Write File" doc:id="f287638f-0244-422f-a654-e3e56943c24c" name="loader-tableau-write-file-flow"/>
	</flow>
	<flow name="loader-tableau-write-file-flow" doc:id="148b7ba0-0210-4da9-8318-5fc04a3a8f50" >
		<file:write doc:name="Write" doc:id="307c8daa-8a03-4f65-8c22-50002c55e5dd" config-ref="File_Config" path="#[vars.loaderDetails.path]" />
	</flow>
	
	<flow name="loader-tableau-common-vars-flow" doc:id="e9b543a7-725a-4a01-b38d-03387ee9f214">
		<set-variable value="#[vars.loaderDetails.tableau]" doc:name="Set Loader Details Variable" doc:id="319ec7d8-a1c1-48a2-aaa0-03697efde624"
			variableName="loaderDetails" />
		<set-variable value="#[payload]" doc:name="Set Event Variable" doc:id="6140a5cc-419d-42d6-8196-9414b227579a"
			variableName="event" />
	</flow>
	

</mule>
