src/main/mule/loaders/loader-anypoint-monitoring-custom-metrics.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:custom-metrics="http://www.mulesoft.org/schema/mule/custom-metrics" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/custom-metrics http://www.mulesoft.org/schema/mule/custom-metrics/current/mule-custom-metrics.xsd">
	<flow name="loader-anypoint-monitoring" doc:id="d5126b8c-53ea-4e19-b5b1-fa265ec723b3" >
		<flow-ref doc:name="Aggregate Platform Metrics Flow Reference" doc:id="aaea05ae-67e7-48e5-be81-e9e72aef83a9" name="aggregator-platform-metrics-org-flow"/>
		<flow-ref doc:name="aggregator-platform-metrics-events-flow" doc:id="07b29ba7-bf7d-4495-8187-9ef705d45975" name="aggregator-platform-metrics-agg-events-flow" />
		<foreach doc:name="For Each" doc:id="60d7a3e8-3ff7-417f-b833-43065adfa98f" >
			<custom-metrics:send doc:name="Send Custom Metric" doc:id="b710f150-b034-4210-8489-ffdcf385ac81" metricName="platform_custom_metric">
				<custom-metrics:dimensions>
					<custom-metrics:dimension dimensionName="environments" value="#[payload.dimension]" />
				</custom-metrics:dimensions>
				<custom-metrics:facts>
					<custom-metrics:fact factName="count" value="#[payload.fact]" />
				</custom-metrics:facts>
			</custom-metrics:send>
		</foreach>
	</flow>
</mule>
