src/main/mule/loaders/loader-router.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="loader-router-flow" doc:id="c8e9fdd0-4ec7-495e-bbf2-1ed6234e1996" >
		<logger level="INFO" doc:name="Logger" doc:id="d7315fbe-d0d5-4755-93ac-a093b2d6b8d2" message="Strategy to Load Platform metrics: #[vars.loaderDetails.strategy]"/>
		<choice doc:name="Choice" doc:id="e673f0db-bf2c-46d2-b5b2-fc70e45befe2" >
			<when expression="#[vars.loaderDetails.strategy == 'am']">
				<flow-ref doc:name="loader-anypoint-monitoring" doc:id="20aa80c4-330b-447e-b0cb-077cabc9ca88" name="loader-anypoint-monitoring"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'splunk']">
				<flow-ref doc:name="loader-splunk-main-flow" doc:id="ede45949-b5f9-4004-a98a-47a288d426b1" name="loader-splunk-hec-main-flow"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'tableau']">
				<flow-ref doc:name="loader-tableau-main-flow" doc:id="de20ba38-08f0-4b89-b2a0-219402a2846c" name="loader-tableau-main-flow"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'csv']">
				<flow-ref doc:name="loader-csv-main-flow" doc:id="65f19b6d-439f-4b07-abf4-0cc1a1281e92" name="loader-csv-main-flow"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'json']">
				<flow-ref doc:name="loader-json-main-flow" doc:id="4391eb71-d6ff-4ede-be37-4e8db692b70a" name="loader-json-main-flow"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'elk']">
				<flow-ref doc:name="loader-elk-main-flow" doc:id="7bf1f286-f84d-4b0e-b0b3-f0fa96d57c10" name="loader-elk-main-flow"/>
			</when>
			<otherwise >
				<flow-ref doc:name="loader-default-flow" doc:id="173ea082-922f-4f69-b9f3-55f9246f0291" name="loader-default-flow"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="loader-benefits-router-flow" doc:id="e16783da-e945-4467-9b84-3dab05c3b953" >
		<logger level="INFO" doc:name="Logger" doc:id="9be0e416-ab29-4086-94fa-141f4d722ce5" message="Strategy to Load Platform benefits: #[vars.loaderDetails.strategy]"/>
		<choice doc:name="Choice" doc:id="7a991914-5a01-45f8-8760-d710de43ab10" >
			<when expression="#[vars.loaderDetails.strategy == 'am']">
				<flow-ref doc:name="loader-benefits-anypoint-monitoring" doc:id="172d89b4-f5ae-4f5c-8209-ae9e70b46671" name="loader-benefits-anypoint-monitoring"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'splunk']">
				<flow-ref doc:name="loader-benefits-splunk-hec-main-flow" doc:id="41866117-d58b-43d0-ab0b-46992be58400" name="loader-benefits-splunk-hec-main-flow"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'tableau']">
				<flow-ref doc:name="loader-benefits-tableau-main-flow" doc:id="843f4611-bd19-4888-a910-87b88638083a" name="loader-benefits-tableau-main-flow"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'csv']">
				<flow-ref doc:name="loader-benefits-csv-main-flow" doc:id="0ee2a53f-83dc-43ca-b5f5-01fe81a5f1d5" name="loader-benefits-csv-main-flow"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'json']">
				<flow-ref doc:name="loader-benefits-json-main-flow" doc:id="efea80f1-d2d7-4bf9-940a-2a4bac41e93a" name="loader-benefits-json-main-flow"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'elk']">
				<flow-ref doc:name="loader-elk-main-flow" doc:id="c9706c9c-e85e-417c-a87d-90531ee0afda" name="loader-benefits-elk-main-flow"/>
			</when>			
			<otherwise >
				<flow-ref doc:name="loader-default-flow" doc:id="52ba5200-2a44-4e16-83a1-76125f24fef9" name="loader-default-flow"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="loader-sdlc-router-flow" doc:id="ba3ecd92-9941-49f7-ad09-42229171b604" >
		<logger level="INFO" doc:name="Logger" doc:id="f353e3d0-cf07-4f19-95ec-3880c57e2a24" message="Strategy: #[vars.loaderDeetails.strategy]" />
		<choice doc:name="Choice" doc:id="fecd31fc-8de2-495e-ac87-de8f3c7b4878" >
			<when expression="#[vars.loaderDetails.strategy == 'am']" >
				<logger level="INFO" doc:name="Logger" doc:id="d59e2709-6dcd-4228-91c9-01420b999e85" />
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'splunk']" >
				<logger level="INFO" doc:name="Logger" doc:id="4b0769be-7776-4a38-8fc4-994e830c3310" />
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'tableau']" >
				<logger level="INFO" doc:name="Logger" doc:id="ed713140-a11a-491a-a475-35d617ba6134" />
			</when>
			<otherwise >
				<flow-ref doc:name="loader-sdlc-flow" doc:id="c8083744-2396-4acb-b877-99f7fe64bfec" name="loader-sdlc-flow" />
			</otherwise>
		</choice>
	</flow>
</mule>
