src/main/mule/loaders/loader-default.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="loader-default-flow" doc:id="470c779b-3b66-4ca6-bca4-6aa9bacd665e" >
		<flow-ref doc:name="Aggregate Platform Metrics Flow Reference" doc:id="079fcea0-d2b2-4fed-bda7-b75c981de108" name="aggregator-platform-metrics-master-flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="fb8912f7-6a80-429e-97f2-c66e76d8aa1c" message="#[payload]"/>
		<ee:transform doc:name="Build Loader Response" doc:id="7b0a367a-f137-405d-a515-0c6bf3299241" >
			<ee:message >
				<ee:set-payload resource="dw/loader/loader-success-response.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
</mule>
