src/main/mule/loaders/loader-router.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="loader-router-flow" doc:id="c8e9fdd0-4ec7-495e-bbf2-1ed6234e1996" >
		<logger level="INFO" doc:name="Logger" doc:id="d7315fbe-d0d5-4755-93ac-a093b2d6b8d2" message="Strategy to Load Platform metrics: #[vars.loaderDetails.strategy]"/>
		<choice doc:name="Choice" doc:id="e673f0db-bf2c-46d2-b5b2-fc70e45befe2" >
			<when expression="#[vars.loaderDetails.strategy == 'am']">
				<flow-ref doc:name="loader-anypoint-monitoring" doc:id="20aa80c4-330b-447e-b0cb-077cabc9ca88" name="loader-anypoint-monitoring"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'splunk']">
				<flow-ref doc:name="loader-splunk-main-flow" doc:id="ede45949-b5f9-4004-a98a-47a288d426b1" name="loader-splunk-hec-main-flow"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'tableau']">
				<flow-ref doc:name="loader-tableau-main-flow" doc:id="de20ba38-08f0-4b89-b2a0-219402a2846c" name="loader-tableau-main-flow"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'csv']">
				<flow-ref doc:name="loader-csv-main-flow" doc:id="65f19b6d-439f-4b07-abf4-0cc1a1281e92" name="loader-csv-main-flow"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'json']">
				<flow-ref doc:name="loader-json-main-flow" doc:id="4391eb71-d6ff-4ede-be37-4e8db692b70a" name="loader-json-main-flow"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'elk']">
				<flow-ref doc:name="loader-elk-main-flow" doc:id="7bf1f286-f84d-4b0e-b0b3-f0fa96d57c10" name="loader-elk-main-flow"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'sfdc']">
				<flow-ref doc:name="loader-sfdc-metrics-flow" doc:id="ec5da1e9-dda1-41fe-8789-a1820e2e654f" name="loader-salesforce-analytics-platform-metrics-flow"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'mongodb']">
				<flow-ref doc:name="loader-mongodb-main-flow" doc:id="dede2ca2-1eb1-4513-8156-899bc44c188b" name="#['loader-mongodb-main-flow']"/>
			</when>
			<otherwise >
				<flow-ref doc:name="loader-default-flow" doc:id="173ea082-922f-4f69-b9f3-55f9246f0291" name="loader-default-flow"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="loader-benefits-router-flow" doc:id="e16783da-e945-4467-9b84-3dab05c3b953" >
		<logger level="INFO" doc:name="Logger" doc:id="9be0e416-ab29-4086-94fa-141f4d722ce5" message="Strategy to Load Platform benefits: #[vars.loaderDetails.strategy]"/>
		<choice doc:name="Choice" doc:id="7a991914-5a01-45f8-8760-d710de43ab10" >
			<when expression="#[vars.loaderDetails.strategy == 'am']">
				<flow-ref doc:name="loader-benefits-anypoint-monitoring" doc:id="172d89b4-f5ae-4f5c-8209-ae9e70b46671" name="loader-benefits-anypoint-monitoring"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'splunk']">
				<flow-ref doc:name="loader-benefits-splunk-hec-main-flow" doc:id="41866117-d58b-43d0-ab0b-46992be58400" name="loader-benefits-splunk-hec-main-flow"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'tableau']">
				<flow-ref doc:name="loader-benefits-tableau-main-flow" doc:id="843f4611-bd19-4888-a910-87b88638083a" name="loader-benefits-tableau-main-flow"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'csv']">
				<flow-ref doc:name="loader-benefits-csv-main-flow" doc:id="0ee2a53f-83dc-43ca-b5f5-01fe81a5f1d5" name="loader-benefits-csv-main-flow"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'json']">
				<flow-ref doc:name="loader-benefits-json-main-flow" doc:id="efea80f1-d2d7-4bf9-940a-2a4bac41e93a" name="loader-benefits-json-main-flow"/>
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'elk']">
				<flow-ref doc:name="loader-benefits-elk-main-flow" doc:id="c9706c9c-e85e-417c-a87d-90531ee0afda" name="loader-benefits-elk-main-flow"/>
			</when>		
			<when expression="#[vars.loaderDetails.strategy == 'mongodb']">
				<flow-ref doc:name="loader-benefits-mongodb-main-flow" doc:id="f38adc86-dd16-4e59-937c-cb78927defe2" name="#['loader-benefits-mongodb-main-flow']"/>
			</when>	
			<when expression="#[vars.loaderDetails.strategy == 'sfdc']">
				<flow-ref doc:name="loader-sfdc-benefits-main-flow" doc:id="ed204cbd-22d4-41fa-bb1f-3fe87e4dfbc0" name="loader-salesforce-analytics-benefits-main-flow"/>
			</when>	
			<otherwise >
				<flow-ref doc:name="loader-default-flow" doc:id="52ba5200-2a44-4e16-83a1-76125f24fef9" name="loader-benefits-flow"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="loader-sdlc-router-flow" doc:id="ba3ecd92-9941-49f7-ad09-42229171b604" >
		<logger level="INFO" doc:name="Logger" doc:id="f353e3d0-cf07-4f19-95ec-3880c57e2a24" message="Strategy: #[vars.loaderDetails.strategy]" />
		<choice doc:name="Choice" doc:id="fecd31fc-8de2-495e-ac87-de8f3c7b4878" >
			<when expression="#[vars.loaderDetails.strategy == 'am']" >
				<logger level="WARN" doc:name="Logger" doc:id="d59e2709-6dcd-4228-91c9-01420b999e85" message="AM Loader for SDLC not implemented"/>
				<set-payload value='#[{message: "Not Implemented"}]' doc:name="Set Payload" doc:id="3d1763fd-f51d-4705-ab3d-9f769470ebd5" />
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'splunk']" >
				<logger level="WARN" doc:name="Logger" doc:id="18ad03f3-7703-4060-84cf-3cdb8b47e634" message="Splunk Loader for SDLC not implemented"/>
				<set-payload value='#[{message: "Not Implemented"}]' doc:name="Set Payload" doc:id="071fcdc3-d4c0-41c6-a99a-2fae2aeafac7" />
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'tableau']" >
				<logger level="WARN" doc:name="Logger" doc:id="ed713140-a11a-491a-a475-35d617ba6134" message="Tableau Loader for SDLC not implemented"/>
				<set-payload value='#[{message: "Not Implemented"}]' doc:name="Set Payload" doc:id="145a8f1d-3dec-4e76-a815-39819d338af2" />
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'csv']">
				<logger level="WARN" doc:name="Logger" doc:id="56dc8800-d271-43a9-9d42-0d3e6acc533c" message="CSV Loader for SDLC not implemented"/>
				<set-payload value='#[{message: "Not Implemented"}]' doc:name="Set Payload" doc:id="3b04cee7-906b-4e56-8f8a-72aead5f9acd" />
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'json']">
				<logger level="WARN" doc:name="Logger" doc:id="392fae7b-0830-4c54-b0b6-68902c024b59" message="JSON Loader for SDLC not implemented"/>
				<set-payload value='#[{message: "Not Implemented"}]' doc:name="Set Payload" doc:id="45a698a1-99c9-472b-b6c2-45cddc82c0b9" />
			</when>
			<when expression="#[vars.loaderDetails.strategy == 'elk']">
				<logger level="WARN" doc:name="Logger" doc:id="f3f1563c-9e2a-4f4b-8730-f40860b81b1a" message="ELK Loader for SDLC not implemented"/>
				<set-payload value='#[{message: "Not Implemented"}]' doc:name="Set Payload" doc:id="40dd5833-44f6-4dc6-867f-ec68cba78e44" />
			</when>		
			<when expression="#[vars.loaderDetails.strategy == 'mongodb']">
				<logger level="WARN" doc:name="Logger" doc:id="2a1b7852-8faf-47fa-98a6-03a833730881" message="MongoDB Loader for SDLC not implemented"/>
				<set-payload value='#[{message: "Not Implemented"}]' doc:name="Set Payload" doc:id="9b2ff6d7-66a9-492b-bcb9-2b775cf759e2" />
			</when>		
			<otherwise >
				<set-payload value='#[{message: "Not Implemented"}]' doc:name="Set Payload" doc:id="90d1f067-3c15-4681-ad5e-c74c81daa366" />
			</otherwise>
		</choice>
	</flow>
</mule>
