src/main/mule/loaders/loader-anypoint-monitoring-custom-metrics.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:custom-metrics="http://www.mulesoft.org/schema/mule/custom-metrics" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/custom-metrics http://www.mulesoft.org/schema/mule/custom-metrics/current/mule-custom-metrics.xsd">
	<flow name="loader-anypoint-monitoring" doc:id="d5126b8c-53ea-4e19-b5b1-fa265ec723b3">
		<flow-ref doc:name="Aggregate Platform Metrics Flow Reference" doc:id="aaea05ae-67e7-48e5-be81-e9e72aef83a9" name="aggregator-platform-metrics-master-flow" />
		<set-variable value="#[payload]" doc:name="Set Event Variable" doc:id="fee805ac-b90a-4c23-8d04-4ddd7af66226" variableName="event" />
		<foreach doc:name="For Each" doc:id="60d7a3e8-3ff7-417f-b833-43065adfa98f">
			<scatter-gather doc:name="Scatter-Gather" doc:id="6fcbf66f-23ad-4545-b3a2-3c033d10472f">
				<route >
					<custom-metrics:send doc:name="Send Custom Metric - General Metrics" doc:id="b710f150-b034-4210-8489-ffdcf385ac81" metricName="platform_general_custom_metric">
						<custom-metrics:dimensions>
							<custom-metrics:dimension dimensionName="businessGroup" value="#[payload.businessGroup]" />
						</custom-metrics:dimensions>
						<custom-metrics:facts>
							<custom-metrics:fact factName="users_total" value="#[payload.coreServicesMetrics.users.total]" />
							<custom-metrics:fact factName="users_active" value="#[payload.coreServicesMetrics.users.activeMembers]" />
							<custom-metrics:fact factName="users_inactive" value="#[payload.coreServicesMetrics.users.inactiveMembers]" />
							<custom-metrics:fact factName="users_active_60_days" value="#[payload.coreServicesMetrics.users.activeMembersLast60Days]" />
							<custom-metrics:fact factName="users_active_30_days" value="#[payload.coreServicesMetrics.users.activeMembersLast30Days]" />
							<custom-metrics:fact factName="environments_sandbox_total" value="#[payload.coreServicesMetrics.environments.production]" />
							<custom-metrics:fact factName="environments_production_total" value="#[payload.coreServicesMetrics.environments.sandbox]" />
							<custom-metrics:fact factName="environments_total" value="#[payload.coreServicesMetrics.environments.total]" />
							<custom-metrics:fact factName="desing_center_projects_total" value="#[payload.designCenterMetrics.total]" />
							<custom-metrics:fact factName="desing_center_projects_api_specs" value="#[payload.designCenterMetrics.apiSpecs]" />
							<custom-metrics:fact factName="desing_center_projects_fragments" value="#[payload.designCenterMetrics.fragments]" />
							<custom-metrics:fact factName="desing_center_projects_flow_designer_apps" value="#[payload.designCenterMetrics.flowDesignerApps]" />
							<custom-metrics:fact factName="exchange_assets_total" value="#[payload.exchangeMetrics.total]" />
							<custom-metrics:fact factName="exchange_assets_api_specs" value="#[payload.exchangeMetrics.apiSpecs]" />
							<custom-metrics:fact factName="exchange_assets_connectors" value="#[payload.exchangeMetrics.connectors]" />
							<custom-metrics:fact factName="exchange_assets_fragments" value="#[payload.exchangeMetrics.fragments]" />
							<custom-metrics:fact factName="exchange_assets_proxies" value="#[payload.exchangeMetrics.proxies]" />
							<custom-metrics:fact factName="exchange_assets_extensions" value="#[payload.exchangeMetrics.extensions]" />
							<custom-metrics:fact factName="exchange_assets_custom" value="#[payload.exchangeMetrics.custom]" />
							<custom-metrics:fact factName="exchange_assets_satisfaction" value="#[payload.exchangeMetrics.overallSatisfaction]" />
							<custom-metrics:fact factName="api_clients" value="#[payload.apiManagerMetrics.clients]" />
							
							<custom-metrics:fact factName="ch_networking_vpcs_total" value="#[payload.runtimeManagerMetrics.cloudhub.networking.vpcsTotal]" />
							<custom-metrics:fact factName="ch_networking_vpcs_available" value="#[payload.runtimeManagerMetrics.cloudhub.networking.vpcsAvailable]" />
							<custom-metrics:fact factName="ch_networking_vpcs_used" value="#[payload.runtimeManagerMetrics.cloudhub.networking.vpcsUsed]" />
							
							<custom-metrics:fact factName="ch_networking_vpns_total" value="#[payload.runtimeManagerMetrics.cloudhub.networking.vpnsTotal]" />
							<custom-metrics:fact factName="ch_networking_vpns_available" value="#[payload.runtimeManagerMetrics.cloudhub.networking.vpnsAvailable]" />
							<custom-metrics:fact factName="ch_networking_vpns_used" value="#[payload.runtimeManagerMetrics.cloudhub.networking.vpnsUsed]" />
							
							<custom-metrics:fact factName="rtf_capacity_fabrics" value="#[payload.runtimeManagerMetrics.rtf.capacity.fabrics]" />
							<custom-metrics:fact factName="rtf_capacity_workers" value="#[payload.runtimeManagerMetrics.rtf.capacity.workers]" />
							<custom-metrics:fact factName="rtf_capacity_controllers" value="#[payload.runtimeManagerMetrics.rtf.capacity.controllers]" />
							<custom-metrics:fact factName="rtf_capacity_coresTotal" value="#[payload.runtimeManagerMetrics.rtf.capacity.coresTotal]" />
							<custom-metrics:fact factName="rtf_capacity_memoryTotal" value="#[payload.runtimeManagerMetrics.rtf.capacity.memoryTotal]" />
							<custom-metrics:fact factName="rtf_capacity_coresPerFabric" value="#[payload.runtimeManagerMetrics.rtf.capacity.coresPerFabric]" />
							<custom-metrics:fact factName="rtf_capacity_memoryPerFabric" value="#[payload.runtimeManagerMetrics.rtf.capacity.memoryPerFabric]" />
							
							
						</custom-metrics:facts>
					</custom-metrics:send>
				</route>
				<route >
					<custom-metrics:send doc:name="Send Custom Metric - Sandbox Metrics" doc:id="cef0e8f7-1f9b-46c2-9683-74493ae16e15" metricName="platform_sandbox_custom_metric">
						<custom-metrics:dimensions>
							<custom-metrics:dimension dimensionName="businessGroup" value="#[payload.businessGroup]" />
							<custom-metrics:dimension dimensionName="environmentType" value="sandbox" />
						</custom-metrics:dimensions>
						<custom-metrics:facts>
							<custom-metrics:fact factName="apim_api_specs_total" value="#[payload.apiManagerMetrics.apis.sandbox.total]" />
							<custom-metrics:fact factName="apim_api_instances_total" value="#[payload.apiManagerMetrics.apis.sandbox.apiInstances]" />
							<custom-metrics:fact factName="apim_api_instances_active" value="#[payload.apiManagerMetrics.apis.sandbox.active]" />
							<custom-metrics:fact factName="apim_api_instances_inactive" value="#[payload.apiManagerMetrics.apis.sandbox.inactive]" />
							<custom-metrics:fact factName="apim_api_instances_versions" value="#[payload.apiManagerMetrics.apis.sandbox.apiVersions]" />
							<custom-metrics:fact factName="apim_api_instances_with_policies" value="#[payload.apiManagerMetrics.apis.sandbox.apisWithPolicies]" />
							<custom-metrics:fact factName="apim_api_instances_without_policies" value="#[payload.apiManagerMetrics.apis.sandbox.apisWithoutPolicies]" />
							<custom-metrics:fact factName="apim_api_instances_with_security" value="#[payload.apiManagerMetrics.apis.sandbox.apisWithSecurity]" />
							<custom-metrics:fact factName="apim_api_instances_without_security" value="#[payload.apiManagerMetrics.apis.sandbox.apisWithoutSecurity]" />
							<custom-metrics:fact factName="apim_api_instances_with_contracts" value="#[payload.apiManagerMetrics.apis.sandbox.apisWithContracts]" />
							<custom-metrics:fact factName="apim_api_instances_without_contracts" value="#[payload.apiManagerMetrics.apis.sandbox.apisWithoutContracts]" />
							<custom-metrics:fact factName="apim_api_instances_with_more_than_one_consumer" value="#[payload.apiManagerMetrics.apis.sandbox.apisWithMoreThanOneConsumer]" />
							<custom-metrics:fact factName="apim_api_instances_with_one_or_more_consumers" value="#[payload.apiManagerMetrics.apis.sandbox.apisWithOneOrMoreConsumer]" />
							<custom-metrics:fact factName="apim_policies_used_total" value="#[payload.apiManagerMetrics.apis.sandbox.policiesUsedTotal]" />
							<custom-metrics:fact factName="apim_automated_policies_used_total" value="#[payload.apiManagerMetrics.apis.sandbox.automatedPoliciesUsedTotal]" />
							<custom-metrics:fact factName="apim_contracts_total" value="#[payload.apiManagerMetrics.apis.sandbox.contracts]" />
							<custom-metrics:fact factName="apim_transactions" value="#[payload.apiManagerMetrics.apis.sandbox.transactions]" />
							
							<custom-metrics:fact factName="ch_vcores_total" value="#[payload.runtimeManagerMetrics.cloudhub.applications.sandbox.vcoresTotal]" />
							<custom-metrics:fact factName="ch_vcores_available" value="#[payload.runtimeManagerMetrics.cloudhub.applications.sandbox.vcoresAvailable]" />
							<custom-metrics:fact factName="ch_vcores_used" value="#[payload.runtimeManagerMetrics.cloudhub.applications.sandbox.vcoresUsed]" />
							<custom-metrics:fact factName="ch_applications_total" value="#[payload.runtimeManagerMetrics.cloudhub.applications.sandbox.applicationsTotal]" />
							<custom-metrics:fact factName="ch_applications_started" value="#[payload.runtimeManagerMetrics.cloudhub.applications.sandbox.applicationsStarted]" />
							<custom-metrics:fact factName="ch_applications_stopped" value="#[payload.runtimeManagerMetrics.cloudhub.applications.sandbox.applicationsStopped]" />
							<custom-metrics:fact factName="ch_runtimes_total" value="#[payload.runtimeManagerMetrics.cloudhub.applications.sandbox.runtimesUsedTotal]" />
							
							<custom-metrics:fact factName="rtf_cores_used" value="#[payload.runtimeManagerMetrics.rtf.applications.sandbox.coresUsed]" />
							<custom-metrics:fact factName="rtf_memory_used" value="#[payload.runtimeManagerMetrics.rtf.applications.sandbox.memoryUsed]" />
							
							<custom-metrics:fact factName="rtf_applications_total" value="#[payload.runtimeManagerMetrics.rtf.applications.sandbox.applicationsTotal]" />
							<custom-metrics:fact factName="rtf_applications_started" value="#[payload.runtimeManagerMetrics.rtf.applications.sandbox.applicationsStarted]" />
							<custom-metrics:fact factName="rtf_applications_stopped" value="#[payload.runtimeManagerMetrics.rtf.applications.sandbox.applicationsStopped]" />
							<custom-metrics:fact factName="rtf_runtimes_total" value="#[payload.runtimeManagerMetrics.rtf.applications.sandbox.runtimesUsedTotal]" />
							
							<custom-metrics:fact factName="hybrid_servers_total" value="#[payload.runtimeManagerMetrics.hybrid.applications.sandbox.servers]" />
							<custom-metrics:fact factName="hybrid_clusters_total" value="#[payload.runtimeManagerMetrics.hybrid.applications.sandbox.clusters]" />
							<custom-metrics:fact factName="hybrid_server_groups_total" value="#[payload.runtimeManagerMetrics.hybrid.applications.sandbox.serverGroups]" />
							
							<custom-metrics:fact factName="hybrid_applications_total" value="#[payload.runtimeManagerMetrics.hybrid.applications.sandbox.applicationsTotal]" />
							<custom-metrics:fact factName="hybrid_applications_started" value="#[payload.runtimeManagerMetrics.hybrid.applications.sandbox.applicationsStarted]" />
							<custom-metrics:fact factName="hybrid_applications_stopped" value="#[payload.runtimeManagerMetrics.hybrid.applications.sandbox.applicationsStopped]" />
							<custom-metrics:fact factName="hybrid_runtimes_total" value="#[payload.runtimeManagerMetrics.hybrid.applications.sandbox.runtimesUsedTotal]" />
						</custom-metrics:facts>
					</custom-metrics:send>
				</route>
				<route >
					<custom-metrics:send doc:name="Send Custom Metric - Production Metrics" doc:id="2a14b5f4-495d-4e15-908d-d55307bacde0" metricName="platform_production_custom_metric">
						<custom-metrics:dimensions>
							<custom-metrics:dimension dimensionName="businessGroup" value="#[payload.businessGroup]" />
							<custom-metrics:dimension dimensionName="environmentType" value="production" />
						</custom-metrics:dimensions>
						<custom-metrics:facts>
							<custom-metrics:fact factName="apim_api_specs_total" value="#[payload.apiManagerMetrics.apis.production.total]" />
							<custom-metrics:fact factName="apim_api_instances_total" value="#[payload.apiManagerMetrics.apis.production.apiInstances]" />
							<custom-metrics:fact factName="apim_api_instances_active" value="#[payload.apiManagerMetrics.apis.production.active]" />
							<custom-metrics:fact factName="apim_api_instances_inactive" value="#[payload.apiManagerMetrics.apis.production.inactive]" />
							<custom-metrics:fact factName="apim_api_instances_versions" value="#[payload.apiManagerMetrics.apis.production.apiVersions]" />
							<custom-metrics:fact factName="apim_api_instances_with_policies" value="#[payload.apiManagerMetrics.apis.production.apisWithPolicies]" />
							<custom-metrics:fact factName="apim_api_instances_without_policies" value="#[payload.apiManagerMetrics.apis.production.apisWithoutPolicies]" />
							<custom-metrics:fact factName="apim_api_instances_with_security" value="#[payload.apiManagerMetrics.apis.production.apisWithSecurity]" />
							<custom-metrics:fact factName="apim_api_instances_without_security" value="#[payload.apiManagerMetrics.apis.production.apisWithoutSecurity]" />
							<custom-metrics:fact factName="apim_api_instances_with_contracts" value="#[payload.apiManagerMetrics.apis.production.apisWithContracts]" />
							<custom-metrics:fact factName="apim_api_instances_without_contracts" value="#[payload.apiManagerMetrics.apis.production.apisWithoutContracts]" />
							<custom-metrics:fact factName="apim_api_instances_with_more_than_one_consumer" value="#[payload.apiManagerMetrics.apis.production.apisWithMoreThanOneConsumer]" />
							<custom-metrics:fact factName="apim_api_instances_with_one_or_more_consumers" value="#[payload.apiManagerMetrics.apis.production.apisWithOneOrMoreConsumer]" />
							<custom-metrics:fact factName="apim_policies_used_total" value="#[payload.apiManagerMetrics.apis.production.policiesUsedTotal]" />
							<custom-metrics:fact factName="apim_automated_policies_used_total" value="#[payload.apiManagerMetrics.apis.production.automatedPoliciesUsedTotal]" />
							<custom-metrics:fact factName="apim_contracts_total" value="#[payload.apiManagerMetrics.apis.production.contracts]" />
							<custom-metrics:fact factName="apim_transactions" value="#[payload.apiManagerMetrics.apis.production.transactions]" />
							
							<custom-metrics:fact factName="ch_vcores_total" value="#[payload.runtimeManagerMetrics.cloudhub.applications.production.vcoresTotal]" />
							<custom-metrics:fact factName="ch_vcores_available" value="#[payload.runtimeManagerMetrics.cloudhub.applications.production.vcoresAvailable]" />
							<custom-metrics:fact factName="ch_vcores_used" value="#[payload.runtimeManagerMetrics.cloudhub.applications.production.vcoresUsed]" />
							<custom-metrics:fact factName="ch_applications_total" value="#[payload.runtimeManagerMetrics.cloudhub.applications.production.applicationsTotal]" />
							<custom-metrics:fact factName="ch_applications_started" value="#[payload.runtimeManagerMetrics.cloudhub.applications.production.applicationsStarted]" />
							<custom-metrics:fact factName="ch_applications_stopped" value="#[payload.runtimeManagerMetrics.cloudhub.applications.production.applicationsStopped]" />
							<custom-metrics:fact factName="ch_runtimes_total" value="#[payload.runtimeManagerMetrics.cloudhub.applications.production.runtimesUsedTotal]" />
							
							<custom-metrics:fact factName="rtf_cores_used" value="#[payload.runtimeManagerMetrics.rtf.applications.production.coresUsed]" />
							<custom-metrics:fact factName="rtf_memory_used" value="#[payload.runtimeManagerMetrics.rtf.applications.production.memoryUsed]" />
							
							<custom-metrics:fact factName="rtf_applications_total" value="#[payload.runtimeManagerMetrics.rtf.applications.production.applicationsTotal]" />
							<custom-metrics:fact factName="rtf_applications_started" value="#[payload.runtimeManagerMetrics.rtf.applications.production.applicationsStarted]" />
							<custom-metrics:fact factName="rtf_applications_stopped" value="#[payload.runtimeManagerMetrics.rtf.applications.production.applicationsStopped]" />
							<custom-metrics:fact factName="rtf_runtimes_total" value="#[payload.runtimeManagerMetrics.rtf.applications.production.runtimesUsedTotal]" />
							
							<custom-metrics:fact factName="hybrid_servers_total" value="#[payload.runtimeManagerMetrics.hybrid.applications.production.servers]" />
							<custom-metrics:fact factName="hybrid_clusters_total" value="#[payload.runtimeManagerMetrics.hybrid.applications.production.clusters]" />
							<custom-metrics:fact factName="hybrid_server_groups_total" value="#[payload.runtimeManagerMetrics.hybrid.applications.production.serverGroups]" />
							
							<custom-metrics:fact factName="hybrid_applications_total" value="#[payload.runtimeManagerMetrics.hybrid.applications.production.applicationsTotal]" />
							<custom-metrics:fact factName="hybrid_applications_started" value="#[payload.runtimeManagerMetrics.hybrid.applications.production.applicationsStarted]" />
							<custom-metrics:fact factName="hybrid_applications_stopped" value="#[payload.runtimeManagerMetrics.hybrid.applications.production.applicationsStopped]" />
							<custom-metrics:fact factName="hybrid_runtimes_total" value="#[payload.runtimeManagerMetrics.hybrid.applications.production.runtimesUsedTotal]" />
						</custom-metrics:facts>
					</custom-metrics:send>
				</route>
			</scatter-gather>
		</foreach>
		<ee:transform doc:name="Build Loader Response" doc:id="9791d993-1c3f-47cd-b910-1288c59a907b" >
			<ee:message >
				<ee:set-payload resource="dw/loader/loader-success-response.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
	
	<flow name="loader-benefits-anypoint-monitoring" doc:id="bd45d8ea-15a6-4073-92cb-5c60085593f4" >
		<flow-ref doc:name="Aggregate Benefits Flow Reference" doc:id="1f6d32c2-e134-42a0-b0d0-362c1a3d0018" name="aggregator-platform-benefits-master-flow"/>
		<set-variable value="#[payload]" doc:name="Set Event Variable" doc:id="ab878389-64b0-45bf-994a-86ecd153dbc3" variableName="event" />
		<foreach doc:name="For Each" doc:id="9ef07e6e-3eb4-42f4-8983-5c7024afbe3d" >
			<custom-metrics:send doc:name="Send Custom Metric" doc:id="ac232fbb-c478-4fdb-8aa0-a4d5dc323956" metricName="platform_benefits_custom_metric">
				<custom-metrics:dimensions>
					<custom-metrics:dimension dimensionName="businessGroup" value="#[payload.businessGroup]" />
				</custom-metrics:dimensions>
				<custom-metrics:facts>
					<custom-metrics:fact factName="developerProductivity" value="#[payload.developerProductivity]" />
					<custom-metrics:fact factName="savingFromAPIReuse" value="#[payload.savingFromAPIReuse]" />
					<custom-metrics:fact factName="savingFromMaintenanceProductivity" value="#[payload.savingFromMaintenanceProductivity]" />
					<custom-metrics:fact factName="savingFromReuseInMaintenance" value="#[payload.savingFromReuseInMaintenance]" />
					<custom-metrics:fact factName="totalSavings" value="#[payload.totalSavings]" />
				</custom-metrics:facts>
			</custom-metrics:send>
		</foreach>
		<ee:transform doc:name="Build Loader Response" doc:id="432b8c96-eac9-4412-a341-1d9e4092fb14" >
			<ee:message >
				<ee:set-payload resource="dw/loader/loader-success-response.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
</mule>
