src/main/mule/collectors/external/systems/collector-splunk.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="collector-splunk-metrics-flow" doc:id="351c3c39-31ca-41be-9295-0b61acee7813">
		<choice doc:name="Choice" doc:id="acadc85f-3c3b-4a20-b8da-9850a93e72e3" >
			<when expression="#[p('sdlc.splunk.enabled') == &quot;true&quot;]">
				<flow-ref doc:name="api-call-splunk-apps-flow" doc:id="bb19f521-5129-4861-b03a-6beae805b23d" name="api-call-splunk-apps-flow" />
			</when>
			<otherwise >
				<set-payload value="#[null]" doc:name="Set Payload" doc:id="fdade0a0-b98c-4891-964e-3c41cfb1fc2a" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f2008789-3d4d-4a38-91c5-996718dda6e7" >
				<logger level="WARN" doc:name="Logger" doc:id="0e99c98c-b2dc-4edd-8b4c-b06f46758a46" message="'Not able to get Splunk metrics'"/>
				<set-variable value="#[vars.errors + error.description]" doc:name="Set Errors Variable" doc:id="0f58a8e4-596c-4c80-9954-451eb7a8a4b8" variableName="errors"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
