src/main/mule/collectors/anypoint/platform/collector-arm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="collector-arm-apps-metrics-parallel-flow" doc:id="741a7055-efa6-4ac6-918d-5ba21279c50a">
		<parallel-foreach doc:name="Parallel For Each" doc:id="72582473-ef2e-4781-81c6-036713c4a83c" collection="#[vars.environments]">
			<flow-ref doc:name="Set Environment Variables" doc:id="719081b9-bb2f-42f7-9a85-77f341e2755e" name="collector-commons-set-environment-variables-flow" />
			<flow-ref doc:name="Get Applications Flow Reference" doc:id="a4ba39b8-84c2-4ff8-8ae8-714129a297d2" name="api-call-arm-apps-flow" />
			<logger level="DEBUG" doc:name="Logger" doc:id="3d28ee51-859a-481b-8877-59d6891ced6c" message="#[payload]" />
			<set-payload value='#[output application/json --- { environment: vars.environmentName, isProduction: vars.isProduction, data: payload}]' doc:name="Aggregate metrics"
				doc:id="3e2b5a3e-9cb1-42d3-a529-b612e46027ba" />
		</parallel-foreach>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="36a2ced6-8ce3-41a1-bc61-ba59d735f7b7" >
				<logger level="WARN" doc:name="Logger" doc:id="98882288-eb8b-4e94-b0a8-8eb239d30ab2" message="'Not able to get ARM apps metrics for BG:' #[vars.orgId]"/>
				<set-variable value="#[vars.errors + error.description]" doc:name="Set Errors Variable" doc:id="1691ec03-f8b9-4f94-99d2-4cf6b6074e6c" variableName="errors"/>
			</on-error-continue>
		</error-handler>
	</flow>
	
	<flow name="collector-arm-servers-metrics-parallel-flow" doc:id="407f57e6-512b-4da5-bd23-fe210648b83b">
		<parallel-foreach doc:name="Parallel For Each" doc:id="be69f332-6780-4363-af31-7a7cf27c079a" collection="#[vars.environments]">
			<flow-ref doc:name="Set Environment Variables" doc:id="78634cf0-f3d9-4caa-af21-355e7b2799b6" name="collector-commons-set-environment-variables-flow" />
			<flow-ref doc:name="Get Servers Flow Reference" doc:id="42e09cfd-f092-4757-9865-c7cc39ca2297" name="api-call-arm-servers-flow" />
			<logger level="DEBUG" doc:name="Logger" doc:id="cf2ba416-d4d8-45b4-af8b-265bcb502292" message="#[payload]" />
			<set-payload value='#[output application/json --- { environment: vars.environmentName, isProduction: vars.isProduction, data: payload}]' doc:name="Aggregate metrics"
				doc:id="b8ce2237-6e1a-4615-b116-7d129fbc0453" />
		</parallel-foreach>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e14f6f4a-ef40-49de-9042-e66fc1eca6eb" >
				<logger level="WARN" doc:name="Logger" doc:id="b0258a4e-12b5-4a38-952e-1d2a0cd2371f" message="'Not able to get ARM server metrics for BG:' #[vars.orgId]"/>
				<set-variable value="#[vars.errors + error.description]" doc:name="Set Errors Variable" doc:id="10525aa7-352a-4b9c-8a16-50ea02aa9bb0" variableName="errors"/>
			</on-error-continue>
		</error-handler>
	</flow>
	
	<flow name="collector-arm-clusters-metrics-parallel-flow" doc:id="5c85f43c-262c-49ad-9612-68a3be20bfee">
		<parallel-foreach doc:name="Parallel For Each" doc:id="6389eeec-8562-40f8-b721-cb2ce14a27cf" collection="#[vars.environments]">
			<flow-ref doc:name="Set Environment Variables" doc:id="3c37c415-08f9-406c-9745-1b6e146a0b38" name="collector-commons-set-environment-variables-flow" />
			<flow-ref doc:name="Get Clusters Flow Reference" doc:id="0ce33011-ecfd-4c63-a5ef-841d987168d2" name="api-call-arm-clusters-flow" />
			<logger level="DEBUG" doc:name="Logger" doc:id="a986ffec-a9a2-465e-883c-b74d6a819fd6" message="#[payload]" />
			<set-payload value='#[output application/json --- { environment: vars.environmentName, isProduction: vars.isProduction, data: payload}]' doc:name="Aggregate metrics"
				doc:id="8db95e42-2ba0-401e-89b0-e096c56be447" />
		</parallel-foreach>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="757a52a7-18d0-41aa-9926-4a46dea0d1c4" >
				<logger level="WARN" doc:name="Logger" doc:id="47a8910d-d1ee-4ccc-af6e-bf455cdedc6b" message="'Not able to get ARM cluster metrics for BG:' #[vars.orgId]"/>
				<set-variable value="#[vars.errors + error.description]" doc:name="Set Errors Variable" doc:id="9ee101af-fe65-443a-82b1-2d37d7989b7c" variableName="errors"/>
			</on-error-continue>
		</error-handler>
	</flow>
	
	<flow name="collector-arm-server-groups-metrics-parallel-flow" doc:id="d553ae6b-19fc-4205-8384-0b5ab15bd50f">
		<parallel-foreach doc:name="Parallel For Each" doc:id="03acef2a-bd00-4f1f-85e8-ea7da76ed22c" collection="#[vars.environments]">
			<flow-ref doc:name="Set Environment Variables" doc:id="8cf93e99-d451-411a-aae5-a34ccabeb669" name="collector-commons-set-environment-variables-flow" />
			<flow-ref doc:name="Get Server Groups Flow Reference" doc:id="54287a76-c236-4c69-b270-72e9b909c906" name="api-call-arm-server-groups-flow" />
			<logger level="DEBUG" doc:name="Logger" doc:id="b0f9907f-6378-4a7a-8c9e-7357b553ed8f" message="#[payload]" />
			<set-payload value='#[output application/json --- { environment: vars.environmentName, isProduction: vars.isProduction, data: payload}]' doc:name="Aggregate metrics"
				doc:id="8032180f-ca81-423e-9394-f326a6e9d9da" />
		</parallel-foreach>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ddd2fafd-d39f-4786-9aa5-de130627d438" >
				<logger level="WARN" doc:name="Logger" doc:id="b5a77f4c-3ef3-4497-88a1-b833d68c8221" message="'Not able to get ARM server groups metrics for BG:' #[vars.orgId]"/>
				<set-variable value="#[vars.errors + error.description]" doc:name="Set Errors Variable" doc:id="0b5142eb-14f6-4994-8bba-b84649fe16bb" variableName="errors"/>
			</on-error-continue>
		</error-handler>
	</flow>
	
	<flow name="collector-arm-deployments-metrics-parallel-flow" doc:id="4c6faa23-2e75-4fe8-9501-80be1212a571">
		<parallel-foreach doc:name="Parallel For Each" doc:id="fda3767b-b87f-44bd-8c94-e6176c2491bd" collection="#[vars.environments]">
			<flow-ref doc:name="Set Environment Variables" doc:id="ddeea74c-fc6e-4390-9241-118033af1a5b" name="collector-commons-set-environment-variables-flow" />
			<flow-ref doc:name="Get Deployments Flow Reference" doc:id="4181e205-c386-451f-b4ac-14e805da720c" name="api-call-arm-deployments-flow" />
			<logger level="DEBUG" doc:name="Logger" doc:id="b82ce36a-ac00-4a89-b392-447c9c8e9fe0" message="#[payload]" />
			<set-variable value="#[payload]" doc:name="Set Deployments Data" doc:id="421bcbda-5d6a-4fee-a780-e34455d7ffdf"
				variableName="deployments" />
			
			<parallel-foreach doc:name="Parallel For Each" doc:id="ea4324cf-f654-4f3f-a9c2-ff8df1f32a40" collection="#[vars.deployments.items]">
				<set-variable value="#[payload.id]" doc:name="Set Environment Name Variable" doc:id="55262446-76e9-481b-a5f2-0e90533a115a"
					variableName="deploymentId" />
				<flow-ref doc:name="Get Deployment Details Flow Reference" doc:id="d0682c9a-db2f-41d8-81bb-0821c0bb541c" name="api-call-arm-deployment-flow" />
				<logger level="DEBUG" doc:name="Logger" doc:id="420ef16d-2faa-4453-b5d9-75bf80c09c49" message="#[payload]" />
			</parallel-foreach>
		
			<set-payload value='#[output application/json --- { environment: vars.environmentName, isProduction: vars.isProduction, data: vars.deployments, details: payload.payload}]' doc:name="Aggregate metrics"
				doc:id="3d0e0efb-be96-4f41-941e-937c863c7661" />
		</parallel-foreach>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b84f8007-6c30-404b-946a-d29171f68c1c" >
				<logger level="WARN" doc:name="Logger" doc:id="67fb02bf-1f97-40d5-b6a9-0b4e42e9ffd2" message="'Not able to get ARM deployment metrics for BG:' #[vars.orgId]"/>
				<set-variable value="#[vars.errors + error.description]" doc:name="Set Errors Variable" doc:id="508e4a67-7f6b-4230-8099-1a020837bbb4" variableName="errors"/>
			</on-error-continue>
		</error-handler>
	</flow>

</mule>
