src/main/mule/collectors/anypoint/platform/collector-api-manager-metrics.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="collector-apim-metrics-parallel-flow" doc:id="c4b43d89-a5f8-4582-8f1a-2296b79d60c6">
		<parallel-foreach doc:name="Parallel For Each" doc:id="1f93fa99-2026-45b6-bcac-29ddb3799db8" collection="#[vars.environments]">
			<flow-ref doc:name="Set Environment Variables" doc:id="4c6292da-bf95-463f-9380-ded270f160cf" name="collector-commons-set-environment-variables-flow" />
			<flow-ref doc:name="Get API Manager APIs Flow Reference" doc:id="11e1602e-2ea0-437a-bec5-dd57f011bfb6" name="api-call-api-manager-apis-flow" />
			<logger level="DEBUG" doc:name="Logger" doc:id="fa4b0ab9-5e90-4305-aaed-c81f6a57d6fe" message="#[payload]" />
			<set-payload value='#[output application/json --- { environment: vars.environmentName, isProduction: vars.isProduction, data: payload}]'
				doc:name="Aggregate metrics" doc:id="cebe5398-ff5f-4492-96f7-84bafdaf1a33" />
		</parallel-foreach>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="0a380e09-7a5b-43dc-b309-6b66079c68e0" >
				<logger level="WARN" doc:name="Logger" doc:id="8bed5e53-5e18-4f52-ad1b-6a10a8a029eb" message="'Not able to get API Manager metrics for BG:' #[vars.orgId]"/>
			</on-error-continue>
		</error-handler>
	</flow>

	<flow name="collector-apim-automated-policies-metrics-flow" doc:id="a7fee72f-2baa-43e5-b22f-09e958189a8c">
		<parallel-foreach doc:name="Parallel For Each" doc:id="1f4069f5-81b1-45e7-ab0d-c00d1a83fe54" collection="#[vars.environments]">
			<flow-ref doc:name="Set Environment Variables" doc:id="06adcc21-5466-4620-a638-1c48d2f021e5" name="collector-commons-set-environment-variables-flow" />
			<flow-ref doc:name="Get API Manager Automated Policies Flow Reference" doc:id="ee1fa5f9-d176-4584-ac48-d5949fc2e4cd" name="api-call-api-manager-automated-policies-flow" />
			<set-payload value='#[output application/json --- { environment: vars.environmentName, isProduction: vars.isProduction, data: payload}]'
					doc:name="Aggregate metrics" doc:id="d738737d-4a5c-4144-8034-27124bb042cc" />
		</parallel-foreach>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="81121f24-5d44-4efe-8264-4ca8f49302ee" >
				<logger level="WARN" doc:name="Logger" doc:id="1b8a1082-5198-475a-add0-11ee5e8ed44d" message="'Not able to get Automated Polcies metrics for BG:' #[vars.orgId]"/>
			</on-error-continue>
		</error-handler>
	</flow>

</mule>
