src/main/mule/collectors/anypoint/platform/collector-osv2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="collector-osv2-metrics-parallel-flow" doc:id="7ae6e37d-6922-4d08-8b13-adee5ddf619a">
		<parallel-foreach doc:name="Parallel For Each Environment" doc:id="26f32980-1ad3-4a9b-8a7b-536cf5647527"
			collection="#[vars.environments]" maxConcurrency="1">
			<flow-ref doc:name="Set Environment Variables" doc:id="c71602b1-aea2-455b-9221-4512e53f4f11"
				name="collector-commons-set-environment-variables-flow" />
			<flow-ref doc:name="Call OSv2 Stats" doc:id="42d71922-3120-4c49-9ae9-587bae879df5" name="api-call-osv2-stats-flow" />
			<set-payload
				value='#[output application/json --- { environment: vars.environmentName, isProduction: vars.isProduction, data: payload }]'
				doc:name="Aggregate metrics" doc:id="80458129-9135-472e-9cbd-71c53c29194e" />
		</parallel-foreach>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue"
				doc:id="0ce3ab94-cf1c-4ea6-b774-b4bece5a7aa5">
				<logger level="WARN" doc:name="Logger" doc:id="3d43f22d-674c-4f5c-8ce5-d735370e9ee6"
					message="'Not able to get OSv2 metrics for BG:' #[vars.orgId]" />
				<set-variable value="#[vars.errors + error.description]" doc:name="Set Errors Variable"
					doc:id="5f30e488-ea79-4f7f-956d-79b5651ce736" variableName="errors" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
