src/main/mule/collectors/anypoint/platform/collector-design-center.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="collector-design-center-metrics-flow" doc:id="dd28b780-3781-430d-8d1b-8350d27f9eee">
		<flow-ref doc:name="Get Design Center Projects Flow Reference" doc:id="9b8fe8ae-4f9a-4b84-90dd-3d522e269cc9" name="api-call-design-center-projects-flow" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="039a82dd-2722-4328-abee-97254a85391f" >
				<logger level="WARN" doc:name="Logger" doc:id="bf103e97-cea0-42f9-a02a-0fc72aafe0e4" message="'Not able to get Design Center metrics for BG:' #[vars.orgId]"/>
				<set-variable value="#[vars.errors + error.description]" doc:name="Set Errors Variable" doc:id="a18ebb2c-9227-42d3-a002-2cc7c5029917" variableName="errors"/>
			</on-error-continue>
		</error-handler>
	</flow>

</mule>
