src/main/mule/collectors/anypoint/platform/collector-commons.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="collector-commons-set-environment-variables-flow" doc:id="aa503722-d359-4229-b0be-9a43d7d355a0" >
	
	<logger level="DEBUG" doc:name="Logger" doc:id="63a20b19-a6a1-45aa-ad90-a653513580be" message="#[payload]" />
			<set-variable value="#[payload.name]" doc:name="Set Environment Name Variable" doc:id="b9697c47-a068-41f8-9e9d-15c9a8ce2369"
				variableName="environmentName" />
			<set-variable value="#[payload.id]" doc:name="Set Environment ID Variable" doc:id="b0820a43-805f-4861-b884-23a1e847db12"
				variableName="environmentId" />
			<set-variable value="#[payload.isProduction]" doc:name="Set Environment ID Variable" doc:id="c0079793-1cd5-4afd-93b0-54f83701ff3e"
						variableName="isProduction" />
	</flow>
</mule>
