src/main/mule/collectors/anypoint/platform/collector-runtime-fabric.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="collector-rtf-fabrics-metrics-flow" doc:id="8f2f8dff-4598-42a9-b813-e7b2874f1a1d">
		<flow-ref doc:name="Get RTF Fabrics Metrics" doc:id="2856ff72-faac-4205-9546-7f5dd627e51d" name="api-call-rtf-fabrics-flow" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="068f4019-e894-4f47-942d-89f9a2aed140" >
				<logger level="WARN" doc:name="Logger" doc:id="f0bbd9fc-4442-4342-b622-dbada09790a3" message="'Not able to get RTF metrics for BG:' #[vars.orgId]"/>
				<set-variable value="#[vars.errors + error.description]" doc:name="Set Errors Variable" doc:id="eeae5eea-7fa3-46fd-ba02-3b54fb0064af" variableName="errors"/>
			</on-error-continue>
		</error-handler>
	</flow>


</mule>
