src/main/mule/collectors/anypoint/platform/collector-exchange.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="collector-exchange-metrics-flow" doc:id="8f2f8dff-4598-42a9-b813-e7b2874f1a1d">
		<flow-ref doc:name="Get Exchange Assets Metrics" doc:id="2856ff72-faac-4205-9546-7f5dd627e51d" name="api-call-exchange-assets-flow"/>
		<parallel-foreach doc:name="For Each Asset" doc:id="af467b92-9ec3-4aa9-a90e-ee73af4c9b84" collection="#[payload]">
			<flow-ref doc:name="Retrieve Asset dependencies" doc:id="e4115f73-f1f5-4d4f-abed-48cf51085a3e" name="api-call-exchange-asset-dependencies-flow" target="dependencies"/>
			<set-payload value="#[output application/java --- payload ++ { dependencies: vars.dependencies }]" doc:name="Aggregate dependencies" doc:id="b15f0786-6c76-4ac3-929c-8150c15da6e2" />
		</parallel-foreach>
		<set-payload value="#[payload map $.payload]" doc:name="Obtain Payloads" doc:id="afef38e1-7c17-4f58-afc5-9ec7e614bca6" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="068f4019-e894-4f47-942d-89f9a2aed140" >
				<logger level="WARN" doc:name="Logger" doc:id="f0bbd9fc-4442-4342-b622-dbada09790a3" message="'Not able to get Exchange metrics for BG:' #[vars.orgId]"/>
				<set-variable value="#[vars.errors + error.description]" doc:name="Set Errors Variable" doc:id="8d6b70e8-8fe9-468f-bea6-9ada3cb1d778" variableName="errors"/>
			</on-error-continue>
		</error-handler>
	</flow>


</mule>
